@charset "UTF-8";

/* page reset
 ------------------------------------------------------------------------------------------------------------ */
html,body{height:100%;}
body{background:#f8f8f0;color:#373737;font:14px sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,address{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font:1em Arial,sans-serif;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
a{color:#015b7d;text-decoration:none;}
a:hover{text-decoration:underline;}
a *{cursor:pointer;}
textarea{overflow:auto;}

/* float clearing
 ------------------------------------------------------------------------------------------------------------ */
.clear{clear:both;border:none;overflow:hidden;display:block;height:0;line-height:0;font-size:0;float:none;margin:0;padding:0;background:transparent;}
.clearfix:after{clear:both;display:block;content:".";height:0px;visibility:hidden;font-size:0;line-height:0;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
li.clearfix{display:list-item;}
* html .clearfix {height:1px;} /* ie6 hack for clearfix */

/*
 *
 * Buttons & forms fieldsets
 *
 */
.button{
  background: #034e79;
  background: linear-gradient(#106fa5, #034e79);
  border:0;
  font-size: 13px;
  font-weight:bold;
  color:#fff;
  padding:8px 14px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
}
.button:hover{
  background: #035a8c;
  background: linear-gradient(#106fa5, #035a8c);
  text-decoration:none;
}
.button:focus{
  outline:0;
}
.button:active{
  background: #0a6090;
  background: linear-gradient(#106fa5, #0a6090);
  box-shadow:0 0 3px #333 inset;
}
/* submit button style */
.submit-button{
  background: #4996c2;
  background: linear-gradient(#78b8dd, #1771a4);
  border:1px solid #4286ad;
  color:#fff;
  font-size: 12px;
  font-weight:bold;
  padding:3px 15px 4px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
}
.submit-button:hover{
  background: #62a8d1;
  background: linear-gradient(#78b8dd, #1a88c7);
  text-decoration:none;
}
.submit-button:focus{
  border-color:#3a799e;
  outline:0;
}
.submit-button:active{
  background: #62a8d1;
  background: linear-gradient(#62a8d1, #2a7faf);
  border-color:#3486b5;
}
/* form fields */
input::-webkit-input-placeholder  {color:#999;font-style:italic;}
textarea::-webkit-input-placeholder  {color:#999;font-style:italic;}
input:-moz-placeholder  {color:#999;font-style:italic;}
textarea:-moz-placeholder {color:#999;font-style:italic;}

input[type="text"], input[type="password"], textarea, select {
  box-sizing:border-box;-moz-box-sizing:border-box;
  padding: 8px;
  border: 1px solid #AAA;
  border-radius:4px;
  box-shadow: 1px 1px 1px #EEE;
  background: linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background: -moz-linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background: -webkit-linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background-clip:border;-moz-background-clip:border;
  font-size:14px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border: 1px solid #C53;
  box-shadow: 0 0 2px #C53 inset;
}

/*
 *
 * Page head
 *
 */
.page-head{
  background-color: #0b669a;
  color:#fff;
  padding:10px 30px 0 40px;
  margin-bottom: 15px;
}
.page-head .left{
  float: left;
}
.page-head .right{
  float: right;
}
.back-link{
  color: #fff;
  font-size: 12px;
}

/* Global nav */
.global-nav{
  margin: 12px 0 0;
}
.global-nav li{
  float:left;
}
.global-nav a{
  background-color: #2988BE;
  color:#fff;
  font-weight: bold;
  font-size:13px;
  float: left;
  display: inline; /* ie6 double margin hack */
  margin-right: 1px;
  line-height: 38px;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
}
.global-nav .active a{
  background-color:#F8F8F0;
  color:#2a2a2a;
  cursor: default;
}
.global-nav .active a:hover{
  text-decoration: none;
}
/* Top user links */
.user-bar{
  text-align: right;
}
.user-bar li{
  display: inline;
  margin-left: 12px;
}
.user-bar a{
  color:#77c8f3;
}
/* Quick search */
.qs{
  float: right;
  background:#f3f3f3;
  box-shadow: none !important;
  border:0 !important;
  width:200px;
  margin-top: 13px;
  height: 30px;
}
.qs:focus{
  outline:0!important;
}
/* Footer */
.page-footer{
  margin: 20px 0 0 250px;
}
.copyrights{
  font-size:12px;
  padding: 0 30px 10px 0;
}

/*
 *
 * Left sidebar navigation
 *
 */
.sidebar{
  float: left;
  display: inline; /* ie6 double margin hack */
  margin: 25px 0 0 23px;
  position: relative;
  width: 227px;
}
.aside-nav a{
  color:#373737;
}
.aside-nav-section{
  padding: 15px;
  height: 1%; /* ie6-7 padding bug hack */
  line-height: 1.7;
}
.aside-nav .active{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-right: 0;
  padding:14px 16px 14px 13px;
  right: -1px;
  position: relative;
  box-shadow: -5px 0 5px -5px #CCC, 0 5px 5px -5px #CCC, 0 -5px 5px -5px #CCC;
}
.aside-nav-items dt{
  font-weight: bold;
  margin:0 0 5px;
}
.aside-nav-items dd{
  margin-left: 20px;
}
.aside-nav-subitems{
  font-size: 12px;
  margin: 2px 0 2px 20px;
}

/*
 * 
 * Page content
 *
 */
.page-content-wrapper{
  float: left;
  width: 100%;
  display: inline; /* ie6 double margin hack */
  margin-left: -250px;
}
.page-content{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-right: 0;
  margin: 0 0 0 250px;
  padding: 25px 30px 30px 30px;
  box-shadow: 0 0 5px #CCC
}

/* breadcrumbs */
.breadcrumbs{
  color:#898989;
  font-size: 12px;
  margin-bottom: 15px;
}
.breadcrumbs li{
  display: inline;
}

/* page title */
.page-title{
  margin-bottom: 15px;
  position: relative;
  height: 1%;
}
.page-title h1{
  font-size: 24px;
}
.page-title .button{
  position: absolute;
  right:0;
  top:0;
}

/*
 *
 * Popup menu style
 *
 */
.menu-pin{
  font-size: 10px;
  position: absolute;
  top:50%;
  margin-top: -9px;
  right:15px;
  display: block;
  width:18px;
  height: 17px;
  line-height: 12px;
  text-align: center;
  background: #eaeaea;
  border-radius: 20px;
  box-shadow: 0 0 1px #CCC;
  outline:0 !important;
}
.menu-pin:after{
  content: '⌄';
}
.menu-pin:hover{
  text-decoration: none;
}
.menu-pin:focus{
}
.menu-popup{
  border: 1px solid #CCC;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  display: none;
  right: 20px;
  margin-top: 9px;
  z-index: 1;
  padding: 5px 0;
  box-shadow: 1px 2px 5px #888888;
  top:50%;
}
.menu-popup li{
  padding: 3px 15px;
  line-height: 17px;
}
.menu-popup li a{
  color: #333;
}
.menu-popup li:hover{
  background: #106fa5;
}
.menu-popup li:hover a{
  color: #fff;
  text-decoration: none;
}

/*
 *
 * Content Styles
 *
 */
 
/*================== Need Fixes ====================*/



.c-block{
  margin-bottom: 30px;
}

.textfield{
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 4px;
}
.form-submit-row{
  background-color: #f3f3f3;
  padding: 14px;
  height: 1%;
  text-align: center;
}


 
/* -------------------------------------
 * Tabs
 */
.tabs{
  border-bottom: 2px solid #2988be;
/*  font-size: 16px; */
  height: 32px;
  overflow: hidden;
  padding-left: 14px;
  position: relative;
}
.tabs li{
  float:left;
}
.tabs a{
  background-color: #e9e9e9;
  float:left;
  display: inline; /* ie6 double margin hack */
  margin-right: 1px;
  line-height: 32px;
  padding:0 12px;
  border-radius: 4px 4px 0 0;
}
.tabs .active a{
  color:#fff;
  cursor: default;
  font-weight: bold;
  font-size: 14px;
  background-color: #2988be;
}
.tabs .active a:hover{
  text-decoration: none;
}

/* -------------------------------------
 * List view
 */
.list-view-row{
  background-color: #fbfbfb;
  border-bottom: 1px solid #b0b0b0;
  padding:16px 14px;
  height: 1%; /* ie6-7 padding bug hack */
  position: relative;
}
.list-view-title{
  margin:0 0 2px;
}
.list-view-descr{
  color:#888888;
}

.b-title{
  background-color: #0b669a;
  color:#fff;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 14px 9px;
  height: 1%; /* ie6-7 padding bug hack */
}

/* --------------------------------
 * List view table
 */
.lv-table{
  width: 100%;
}
.lv-table .textfield,
.lv-table input[type="file"],
.lv-table input[type="text"],
.lv-table input[type="password"]{
  width: 100%;
  max-width: 450px;
}
.lv-table td{
  padding-right: 10px;
}
.lv-table-descr{
  width:50%;
}
