@charset "UTF-8";

/* page reset
 ------------------------------------------------------------------------------------------------------------ */
html,body{height:100%;}
body{background:#fbfbfb;color:#373737;font:14px Arial,sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,address{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font:1em Arial,sans-serif;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
a{color:#015b7d;text-decoration:none;}
a:hover{text-decoration:underline;}
a *{cursor:pointer;}
textarea{overflow:auto;}

/* float clearing
 ------------------------------------------------------------------------------------------------------------ */
.clear{clear:both;border:none;overflow:hidden;display:block;height:0;line-height:0;font-size:0;float:none;margin:0;padding:0;background:transparent;}
.clearfix:after{clear:both;display:block;content:".";height:0px;visibility:hidden;font-size:0;line-height:0;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
li.clearfix{display:list-item;}
* html .clearfix {height:1px;} /* ie6 hack for clearfix */

/*
 *
 * Buttons
 *
 */
.button{
  background: #034e79;
  background: linear-gradient(#106fa5, #034e79);
  background: -moz-linear-gradient(#106fa5,#034e79);
  background: -webkit-linear-gradient(#106fa5,#034e79);
  -pie-background: linear-gradient(#106fa5, #034e79);
  border:0;
  font-size: 12px;
  font-weight:bold;
  color:#fff;
  padding:6px 14px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1;
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
  behavior:url(./css/PIE.htc);
}
.button:hover{
  background: #035a8c;
  background: linear-gradient(#106fa5, #035a8c);
  background: -moz-linear-gradient(#106fa5,#035a8c);
  background: -webkit-linear-gradient(#106fa5,#035a8c);
  -pie-background: linear-gradient(#106fa5, #035a8c);
  text-decoration:none;
}
.button:focus{
  outline:0;
}
.button:active{
  background: #0a6090;
  background: linear-gradient(#106fa5, #0a6090);
  background: -moz-linear-gradient(#106fa5,#0a6090);
  background: -webkit-linear-gradient(#106fa5,#0a6090);
  box-shadow:0 0 3px #333 inset;
}

.submit-button{
  background: #4996c2;
  background: linear-gradient(#78b8dd, #1771a4);
  background: -moz-linear-gradient(#78b8dd,#1771a4);
  background: -webkit-linear-gradient(#78b8dd,#1771a4);
  -pie-background: linear-gradient(#78b8dd, #1771a4);
  border:1px solid #4286ad;
  color:#fff;
  font-size: 12px;
  font-weight:bold;
  padding:3px 15px 4px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1;
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
}
.submit-button:hover{
  background: #62a8d1;
  background: linear-gradient(#78b8dd, #1a88c7);
  background: -moz-linear-gradient(#78b8dd,#1a88c7);
  background: -webkit-linear-gradient(#78b8dd,#1a88c7);
  -pie-background: linear-gradient(#78b8dd, #1a88c7);
  text-decoration:none;
}
.submit-button:focus{
  border-color:#3a799e;
  outline:0;
}
.submit-button:active{
  background: #62a8d1;
  background: linear-gradient(#62a8d1, #2a7faf);
  background: -moz-linear-gradient(#62a8d1,#2a7faf);
  background: -webkit-linear-gradient(#62a8d1,#2a7faf);
  -pie-background: linear-gradient(#62a8d1, #2a7faf);
  border-color:#3486b5;
}

.c-block{
  margin-bottom: 30px;
}

.textfield{
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  behavior:url(./css/PIE.htc);
  padding: 4px;
}
.form-submit-row{
  background-color: #f3f3f3;
  padding: 14px;
  height: 1%;
  text-align: center;
}

/* -------------------------------------
 * Page head
 */
.page-head{
  background-color: #0b669a;
  color:#fff;
  padding:10px 60px 0;
  margin-bottom: 15px;
}
.page-head .left{
  float: left;
}
.page-head .right{
  float: right;
}
.back-link{
  color: #fff;
  font-size: 12px;
}
/* -------------------------------------
 * Global nav
 */
.global-nav{
  margin: 12px 0 0;
}
.global-nav li{
  float:left;
}
.global-nav a{
  background-color: #2988be;
  color:#fff;
  font-weight: bold;
  float: left;
  display: inline; /* ie6 double margin hack */
  margin-right: 1px;
  line-height: 38px;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
  behavior:url(./css/PIE.htc);
}
.global-nav .active a{
  background-color:#fbfbfb;
  color:#2a2a2a;
  cursor: default;
}
.global-nav .active a:hover{
  text-decoration: none;
}
/* -------------------------------------
 * User Bar
 */
.user-bar{
  text-align: right;
}
.user-bar li{
  display: inline;
  margin-left: 12px;
}
.user-bar a{
  color:#77c8f3;
}
/* -------------------------------------
 * Settings search
 */
.ss{
  border-radius:4px;
  float: right;
  background:#f3f3f3;
  border:0;
  padding:4px;
  width:204px;
  height:21px;
  margin-top: 13px;
}
.ss-query{
  width:178px;
  border:0;
  padding:0;
  background:#F3F3F3;
  margin:2px 0 0;
}
.ss-query:focus{
  outline:0!important;
  border-radius:0;
  box-shadow:none !important;
}
.ss-submit{
  background:url(../images/search-submit.png) no-repeat 50% 50%;
  width:20px;
  height:22px;
  border:0;
  cursor:pointer;
}

/* -------------------------------------
 * Page sidebar
 */
.page-sidebar{
  float: left;
  display: inline; /* ie6 double margin hack */
  margin: 25px 0 0 43px;
  position: relative;
  width: 257px;
}
.page-nav a{
  color:#373737;
}
.page-nav-section{
  padding: 15px;
  height: 1%; /* ie6-7 padding bug hack */
  line-height: 1.3;
}
.page-nav .active{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-right: 0;
  padding:14px 16px 14px 13px;
  right: -1px;
  position: relative;
}
.page-nav-tree dt{
  font-weight: bold;
  margin:0 0 5px;
}
.page-nav-tree dd{
  margin-left: 20px;
}
.page-nav-subtree{
  font-size: 12px;
  margin: 2px 0 2px 20px;
}

/* -------------------------------------
 * Page content
 */
.page-content-wrapper{
  float: left;
  width: 100%;
  display: inline; /* ie6 double margin hack */
  margin-left: -300px;
}
.page-content{
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-right: 0;
  margin: 0 0 0 300px;
  padding: 10px 60px 30px 30px;
}

/* --------------------------
 * Footer
 */
.page-footer{
  margin: 20px 0 0 300px;
}

/* -------------------------------------
 * breadcrumbs
 */
.breadcrumbs{
  color:#898989;
  font-size: 12px;
  margin-bottom: 10px;
}
.breadcrumbs li{
  display: inline;
}

/* -------------------------------------
 * page title
 */
.page-title{
  margin-bottom: 10px;
  position: relative;
  height: 1%;
}
.page-title h1{
  font-size: 24px;
}
.page-title .button{
  position: absolute;
  right:0;
  top:0;
}

/* -------------------------------------
 * Tabs
 */
.tabs{
  border-bottom: 2px solid #2988be;
  font-size: 16px;
  height: 32px;
  overflow: hidden;
  padding-left: 14px;
  position: relative;
}
.tabs li{
  float:left;
}
.tabs a{
  background-color: #e9e9e9;
  float:left;
  display: inline; /* ie6 double margin hack */
  margin-right: 1px;
  line-height: 32px;
  padding:0 12px;
  border-radius: 4px 4px 0 0;
  behavior:url(./css/PIE.htc);
}
.tabs .active a{
  color:#fff;
  cursor: default;
  font-weight: bold;
  background-color: #2988be;
}
.tabs .active a:hover{
  text-decoration: none;
}

/* -------------------------------------
 * List view
 */
.list-view-row{
  background-color: #fbfbfb;
  border-bottom: 1px solid #b0b0b0;
  padding:16px 14px;
  height: 1%; /* ie6-7 padding bug hack */
  position: relative;
}
.list-view-title{
  margin:0 0 2px;
}
.list-view-descr{
  color:#888888;
}
.menu-toggler{
  font-size: 6px;
  position: absolute;
  top:50%;
  margin-top: -9px;
  right:15px;
  display: block;
  width:18px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  background: #eaeaea;
  background: linear-gradient(#f7f7f7, #dddddd);
  background: -moz-linear-gradient(#f7f7f7,#dddddd);
  background: -webkit-linear-gradient(#f7f7f7,#dddddd);
  -pie-background: linear-gradient(#f7f7f7, #dddddd);
  border-radius: 4px;
  behavior:url(./css/PIE.htc);
}
.menu-toggler:hover{
  text-decoration: none;
}
.menu-toggler:after{
  content: '▼';
}
.menu-toggler-expanded:after{
  content: '▲';
}
.dropBox{
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  right:15px;
  top:-5000px;
  margin-top:9px;
  z-index: 1;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
}
.dropBox-expanded{
  top:50%;
  opacity: 1;
}
.dropBox li{
  font-size: 12px;
  padding: 0 10px;
  line-height: 17px;
}
.dropBox li:hover{
  background: #106fa5;
}
.dropBox li:hover a{
  color: #fff;
  text-decoration: none;
}

.b-title{
  background-color: #0b669a;
  color:#fff;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 14px 9px;
  height: 1%; /* ie6-7 padding bug hack */
}

/* --------------------------------
 * List view table
 */
.lv-table{
  width: 100%;
}
.lv-table td{
  padding-right: 10px;
}
.lv-table-descr{
  width:60%;
}