/*
 *
 *  Search
 *
 */
.blog{
  position: relative;
}
.blog .breadcrumbs{
  top:20px;
  left:15px;
}
.blog .content{
  margin-top: 55px;
  margin-right: 293px;
  border: 0;
  padding: 0;
}
.blog .sidebar{
  float: right;
  width: 232px;
  border-left: 1px solid #b0b0b0;
  padding: 20px 0 5px 40px;
  display: inline;/* double margin hack for ie */
  margin: 55px 0 0 0;
}
.new-post-link{
  position: absolute;
  right:0;
  top:-36px;
}
.blog-head{
  margin: 0 0 25px;
}
.blog-head .author-pic img{
  float: left;
  margin: 0 20px 0 0;
  vertical-align: top;
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
.blog-head h1{
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}
.blog-head .timestamp{
  color:#888;
  font-size: 12px;
  margin-top: 3px;
}
.blog-content{
  line-height: 21px;
}
.blog-content p,
.blog-content .image{
  margin: 25px 0;
}
.blog-content .image img{
  vertical-align: top;
}
.blog-meta{
  margin: 25px 0;
}
.blog-meta .tags{
  font-size: 12px;
  text-align: right;
  margin: 0 0 10px;
}
.blog-meta .tags:before{
  background: url(../images/tag.png) no-repeat 0 50%;
  content: ' ';
  margin: 0 7px 0 0;
  display: inline-block;
  height: 7px;
  width: 10px;
}
.blog-meta .tags li{
  display: inline;
  color:#8c8c8c;
}
.blog-meta .tags li:after{
  content: ',';
}
.blog-meta .tags li:last-child:after{
  content: '';
}
.blog-meta .tags a{
  color:#8c8c8c;
}
.blog-meta .tags a:hover{
  color:#1d1d1d;
}

.blog-meta .feed{
  font-size: 12px;
  text-align: right;
}
.blog-meta .feed li{
  display: inline;
  margin-left: 15px;
}
.share-link:after{
  content: ' +';
  color:#8c8c8c;
  font-weight: bold;
  line-height: 1;
}

.blog-meta .actions{
  margin-top:30px;
}
.blog-meta .scroll{
  text-align: center;
  margin: 15px 0 0;
}
.blog-meta .scroll a{
  margin: 0 10px;
}
.blog-meta .scroll .prev-post:before{
  content: '← ';
}
.blog-meta .next-post:after{
  content: ' →';
}
.blog-meta .disabled{
  color:#8c8c8c;
}

/*
 *
 * Votes control
 *
 */
.votes{
  font-size: 14px;
  background-color: #EEE;
  padding:6px;
  position:relative;
  top:-7px;
  overflow:hidden; /* IE6 hack */
  border-radius: 4px;
  margin-top:-12px!important;
  top: 6px;
}
.votes-count{
  vertical-align: middle;
}
a.vote-up,
a.vote-down{
  color: #777;
  display: inline-block;
  *display: inline;zoom:1; /* ie6-7 inline-block hack */
  width: 12px;
  height: 12px;
  font-weight: bold;
  font-size:14px;
  line-height: 12px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
a.vote-up:hover,
a.vote-down:hover{
  text-decoration: none;
  opacity: .8;
}
a.vote-up{
}
a.vote-up:after{
  content: '⇧';
}
a.vote-down{
}
a.vote-down:after{
  content: '⇩';
}

.widget{
  margin:0 0 30px;
}
.widget-title{
  margin:0 0 15px -20px;
}
.cat-list-wgt{
  line-height: 1.5em;
  font-size: 13px;
}
.cat-list-wgt ul{
  margin-left: 20px;
}
.calendar-wgt{
  background: #f6f6f6;
  border-radius: 4px;
  width: 100%;
}
.calendar-wgt th{
  font-size: 13px;
  text-align: center;
  padding: 5px 0 10px;
}
.calendar-wgt .prev-month,
.calendar-wgt .next-month{
  width: 1%;
}
.calendar-wgt .prev-month a,
.calendar-wgt .next-month a{
  background: #e0e0e0;
  color:#8c8c8c;
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 3px;
  line-height: 13px;
  font-size: 7px;
  margin: auto;
}
.calendar-wgt .prev-month a:after{
  content: '◄';
}
.calendar-wgt .next-month a:after{
  content: '►';
}
.calendar-wgt td{
  font-size: 11px;
  height: 22px;
  width: 1%;
  vertical-align: middle;
  text-align: center;
}
.calendar-wgt td.archive{
  font-size: 12px;
  text-align: right;
  padding: 5px 10px 5px 0;
}
.calendar-wgt td.archive a:after{
  font-size: 14px;
  content: ' ›';
}
.calendar-wgt td .today{
  display: inline-block;
  background: #067ba1;
  color:#fff;
  border-radius: 3px;
  padding: 4px 5px 3px;
  margin: 0 0 0 -10px;
  position: relative;
  left: 5px;
}
.recent-comments-wgt{
  margin: 0 0 -15px;
  font-size:13px;
}
.recent-comments-wgt li{
  margin: 0 0 15px;
}
.recent-comments-wgt .author-pic{
  float: left;
  display: inline;/* ie double margin hack */
  margin:3px 15px 0 0;
  height: 30px;
  width: 30px;
  border-radius: 4px;
}
.recent-comments-wgt .author-name{
  color:#8c8c8c;
  font-size: 11px;
}
.recent-comments-wgt time{
  color:#8c8c8c;
  font-size: 11px;
  display: block;
  text-align: right;
}

.edit-link,
.delete-link{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity: .2;
}
.edit-link:before{
  content: '✎';
  font-size: 21px;
  line-height: 21px;
  margin-left: 5px;
}
.delete-link:before{
  content: '✖';
  font-size: 17px;
  line-height: 17px;
}
.blog-entry:hover .edit-link,
.blog-entry:hover .delete-link{
  opacity: 1;
}