/*
 *
 *  Search
 *
 */
.blog{
  position: relative;
}
.blog .breadcrumbs{
  top:20px;
  left:15px;
}
.blog .content{
  margin-top: 55px;
  margin-right: 293px;
  border: 0;
  padding: 0;
}
.blog .sidebar{
  float: right;
  width: 262px;
  border-left: 1px solid #b0b0b0;
  padding: 20px 0 5px;
  display: inline;/* double margin hack for ie */
  margin: 55px 0 0 0;
}
.blog .btn.aside {
  position: absolute;
  right:0;
  top:-36px;
}
.blog-entry {
  border-bottom: 1px solid #ccc;
}

.blog-head{
  margin: 0 0 25px;
}
.blog-head .author-pic img{
  float: left;
  margin: 0 20px 0 0;
  vertical-align: top;
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
.blog-head h1{
  margin: 0;
}
.blog-head .timestamp{
  color:#888;
  font-size: 12px;
  margin-top: 3px;
}
.blog-content{
  line-height: 21px;
}
.blog-content p,
.blog-content .image{
  margin: 15px 0;
}
.blog-content .image img{
  vertical-align: top;
}
.blog-meta{
  margin: 20px 0 10px;
}
.blog-meta .tags{
  text-align: right;
  margin: 0 0 10px;
  float:right;
  max-width: 70%;
}
.blog-meta .tags{
	margin:4px 0 0 0;
	padding:0;
	list-style:none;
}
.blog-meta .tags li, .blog-meta .tags a{
	float:left;
	height:20px;
	line-height:20px;
	position:relative;
	font-size:11px;
}
.blog-meta .tags li{
  margin: 3px 0 2px;
}
.blog-meta .tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#eee;
	color:#333;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}
.blog-meta .tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-10px;
	width:0;
	height:0;
	border-color:transparent #eee transparent transparent;
	border-style:solid;
	border-width:10px 10px 10px 0;
}
.blog-meta .tags a:after{
	content:"";
	position:absolute;
	top:8px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #888;
	-webkit-box-shadow:-1px -1px 2px #888;
	box-shadow:-1px -1px 2px #888;
}
.blog-meta .tags a.cat{
  font-weight: bold;
  font-style: italic;
}

.blog-meta .tags a:hover{background:#ddd;}	
.blog-meta .tags a:hover:before{border-color:transparent #ddd transparent transparent;}


.page-roll{
  text-align: center;
  margin: 15px 0 20px;
}
.page-roll a{
  margin: 0 10px;
  font-size: 12px;
  color: #333;
}
.page-roll .prev-post:before{
  content: '← ';
}
.page-roll .next-post:after{
  content: ' →';
}

/*
 *
 * Votes control
 *
 */

.blog-widget{
  margin:0 0 30px 30px;
/*
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
*/
}
.blog-widget-title{
  margin:0 0 10px -15px;
}
.blog-widget a:hover {
  color: #036;
}

.blog-cat-list{
  line-height: 1.5em;
  font-size: 13px;
}
.blog-cat-list a {
  color: #666;
}
.blog-cat-list ul{
  margin-left: 20px;
}
.blog-calendar{
  background: #f6f6f6;
  border-radius: 4px;
  width: 100%;
}
a.blog-calendar-date {
  color: #333;
  text-decoration: underline;
}
a.blog-calendar-date:hover {
  color: #607890;
}

.blog-calendar th{
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px;
}
.blog-calendar .prev,
.blog-calendar .next{
  width: 1%;
}
.blog-calendar .prev a:after{
  content: '←';
}
.blog-calendar .next a:after{
  content: '→';
}

.blog-calendar td{
  font-size: 12px;
  color: #888;
  height: 22px;
  width: 1%;
  vertical-align: middle;
  text-align: center;
}
.blog-archive{
  font-size: 12px;
  text-align: right;
  padding: 5px 10px 5px 0;
  display: block;
}

.blog-calendar .today{
  display: inline-block;
  background: #666;
  color:#fff;
/*  border-radius: 3px; */
  padding: 4px 5px 3px;
  margin: 0 0 0 -10px;
  position: relative;
  left: 5px;
}
.recent-comments-wgt{
  margin: 0 0 -15px;
  font-size:13px;
}
/*.recent-comments-wgt a {
  color: #333;
}*/
.recent-comments-wgt li{
  margin: 0 0 15px;
}
.recent-comments-wgt .author-pic{
  float: left;
  display: inline;/* ie double margin hack */
  margin:3px 10px 0 0;
  height: 30px;
  width: 30px;
  border-radius: 3px;
}
.recent-comments-wgt .author-name{
  color:#333;
  font-size: 11px;
}
.recent-comments-wgt time{
  color:#8c8c8c;
  font-size: 9px;
  display: block;
  text-align: right;
}
