.tl-wrap,
.tl-controls{
  margin: 0 0 20px;
}
.tl-title{
  background: #12729f;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  border-radius:4px 4px 0 0;
  color:#fff;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  padding:0 15px;
  position:relative;
  line-height:45px;
  height:45px;
  white-space: nowrap;
}
.tl-title a{
  color:#fff;
}
.tl-title h2{
  font-size: 16px;
  overflow: hidden;
}
.tl-title .right{
  display: inline;
  margin-left: 20px;
}

.tl-table{
  background: #fbfbfb;
  width: 100%;
}
.tl-table td{
  padding: 15px 15px 15px 8px;
  border-bottom: 1px solid #b0b0b0;
  vertical-align: middle;
}
.thread-icon-cell{
  padding: 0!important;
  width: 42px;
  max-width: 42px;
  min-width: 42px;
}
.my-replies{
  background: #caffa3;
}
.thread-icon{
  border-radius: 3px;
  height: 22px;
  width: 22px;
  margin: auto;
}
.unread .thread-icon{
  background: #015b7d;
}
.closed .thread-icon{
  background: url(../images/thread-closed.png) no-repeat 50% 50%;
}
.moved .thread-icon{
  background: url(../images/thread-moved.png) no-repeat 50% 50%;
}
.thread-preview{
  width: 50%;
}
.thread-collapser{
  max-width: 60px;
  min-width: 60px;
  width: 60px;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
}
.thread-views{
  font-size: 12px;
  min-width: 140px;
  white-space: nowrap;
}
.thread-last-post{
  min-width: 150px;
}
.last-post-info{
  font-size: 12px;
}
.last-post-date{
  color:#888;
  font-size: 11px;
  margin-bottom: 2px;
}
.last-post-date a{
  color:#888;
}
.thread-mark{
  max-width: 40px;
  min-width: 40px;
  width: 40px;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
}

.thread-title h2{
  display: inline;
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.thread-pagination,
.thread-pagination li{
  display: inline;
}
.thread-pagination a{
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background: #f3f3f3;
  font-size: 11px;
  padding: 1px 5px;
  margin-right: 2px;
}
.thread-author,
.thread-author a{
  color:#b0b0b0;
}

.thread-pin{
  background: #d6d6d6;
  border-radius: 14px;
  display: block;
  height: 14px;
  width: 14px;
  margin: auto;
  color:#6b6b6b;
  line-height: 14px;
}
.collapsed .thread-pin{
  background: #6b6b6b;
  color:#fff;
}
.thread-pin:hover{
  text-decoration: none;
}
.thread-pin:after{
  content: '▾';
}
.collapsed .thread-pin:after{
  content: '×';
}

.thread-posts-row{
  display: none;
  padding: 9px!important;
}
.thread-posts{
  background: #fff;
  padding: 20px 40px;
  height: 1%;
}
.thread-post{
  overflow: hidden;
  zoom:1;
  margin-bottom: 17px;
}
.thread-post-thumb{
  float: left;
  display: inline;
  margin: 0 13px 0 0;
  width: 70px;
  border-radius: 4px;
}
.thread-post-content{
  font-size: 13px;
  overflow: hidden;
  zoom:1;
  line-height: 1.3;
}
.thread-post-content header{
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.thread-posts-actions a{
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
}
.thread-posts-actions .action-button{
  float: none;
  display: inline-block;
  *display:inline;zoom:1;
}

.tl-more-button{
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
}
.tl-more-button:before{
  font-size: 14px;
  content: '↓';
  font-weight:normal;
  margin-right: 4px;
}