.pl-wrap{
/*  margin: 0 0 10px;
  padding-top: 5px;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
*/
}

.pl-title{
  background: #12729f;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  border-radius:4px 4px 0 0;
  color:#fff;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  padding:0 15px;
  position:relative;
  line-height:45px;
  height:45px;
  white-space: nowrap;
}
.pl-title .right{
  margin-left: 10px;
  display: inline;
}

/* ----------------------------------
 * Post
 */
.post{
/*  background-color: #fbfbfb; */
}
.post-head{
  background-color: #efefef;
  padding: 11px 15px;
  line-height: 19px;
}
.post-head .left{
  float: left;
}
a.post-author{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
a.post-author:hover{
  font-size: 16px;
  font-weight: bold;
  color: #036;
}
.post-head .right{
  float: right;
  font-size: 12px;
}
a.post-timestamp {
  color:#888;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
a.post-timestamp:hover {
  color: #036;
}
.post-marker{
  margin-left: 25px;
  vertical-align: middle;
}
.post-v{
  vertical-align: middle;
}
.post-aside{
  float: left;
  display: inline; /* ie double margin hack */
  margin: 30px 30px 0;
}
.post-author-pic img{
  border-radius: 4px;
  vertical-align: top;
}
.post-author-info{
  font-size: 12px;
  margin-top: 5px;
  line-height: 1.4;
  color: #AAA;
}
.post-content{
  overflow: hidden;
  zoom:1; /* ie hack */
  margin: 30px 15px 0 0;
  line-height: 1.4;
}
.pl-short .post-content{
  margin: 15px 15px 0;
  padding: 0 0 15px;
}
.post-meta {
/*  font-size: 12px; */
  clear: both;
  padding: 15px 15px 15px 30px;
}
.post-meta a{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:.2;
  color: #333;
  text-decoration: underline;
}
/*.post-meta .votes-count{
  opacity: 1;
}*/
.post:hover .post-meta a{
  opacity: .8;
}
.post-meta:hover a{
  opacity:1 !important;
}

.post-meta .left{
  float: left;
}
.post-meta .right{
  float: right;
}
.post-meta li{
  float: left;
  display: inline;/* ie double margin hack */
  margin:0 15px 0 0;
}
.post-meta .right li{
  margin:0 0 0 15px;
}

/*
 *
 * Votes control
 *
 */
.votes{
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-size: 14px;
/*  background-color: #EEE; */
  padding:6px;
  position:relative;
  top:-7px;
  overflow:hidden; /* IE6 hack */
  border-radius: 4px;
  margin-top:-12px!important;
  top: 6px;
}
.post:hover .votes{
  background-color: #EEE;
}
.votes-count{
  vertical-align: middle;
}
a.vote-up,
a.vote-down{
  color: #777; 
  display: inline-block;
  *display: inline;zoom:1; /* ie6-7 inline-block hack */
  width: 12px;
  height: 12px;
  font-weight: bold;
  font-size:14px;
  line-height: 12px; 
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
a.vote-up:hover,
a.vote-down:hover{
  text-decoration: none;
  opacity: .8;
}
a.vote-up{
}
a.vote-up:after{
  content: '⇧';
}
a.vote-down{
}
a.vote-down:after{
  content: '⇩';
}

.pl-more-button{
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  margin-top: 10px;
}
.pl-more-button:before{
  font-size: 14px;
  content: '↓';
  font-weight:normal;
}

.pl-fast-reply{
  margin-bottom: 20px;
}
.pl-fast-reply form{
  background-color: #d2e4ee;
  padding: 15px;
  height: 1%;
  margin-top: 1px;
}
.pl-fast-reply textarea{
  font-size: 12px;
  border-radius: 0;
  width: 100%;
  height: 70px;
  margin: 0 0 15px;
}

.pl-fast-reply .form-buttons input{
  font-size: 12px;
  font-weight: normal;
}

.post-image{
  margin: 20px 0;
}
.post-image img{
  vertical-align: middle;
}

.post-atts{
  background-color: #f6f6f6;
  border-radius: 4px;
  color:#1d1d1d;
  font-size: 12px;
  padding: 20px;
  height: 1%;
}
.post-atts dd{
  line-height: 24px;
  padding-left: 23px;
}
.post-atts dd.image-att{
  background: url(../images/tmp/image-att.png) no-repeat 0 50%;
}
.post-atts dd.archive-att{
  background: url(../images/tmp/archive-att.png) no-repeat 0 50%;
}
.post-atts dd.sound-att{
  background: url(../images/tmp/sound-att.png) no-repeat 0 50%;
}

.post-signature{
  font-size: 12px;
  color:#393b3b;
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #deebf2;
}
