.pl-wrap{
}

/* ----------------------------------
 * Post
 */
.post{
/*  background-color: #fbfbfb; */
}
.post-head{
  background-color: #efefef;
  padding: 11px 15px;
  line-height: 19px;
}
.post-head .left{
  float: left;
}
a.post-author{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
a.post-author:hover{
  font-size: 16px;
  font-weight: bold;
  color: #036;
}
.post-head .right{
  float: right;
  font-size: 12px;
}
a.post-timestamp {
  color:#888;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
a.post-timestamp:hover {
  color: #036;
}
.post-marker{
  margin-left: 25px;
  vertical-align: middle;
}
.post-v{
  vertical-align: middle;
}
.post-aside{
  float: left;
  display: inline; /* ie double margin hack */
  margin: 30px 30px 0;
}
.post-author-pic img{
  border-radius: 4px;
  vertical-align: top;
}
.post-author-info{
  font-size: 12px;
  margin-top: 5px;
  line-height: 1.4;
  color: #AAA;
}
.post-content{
  overflow: hidden;
  zoom:1; /* ie hack */
  margin: 30px 15px 0 0;
  line-height: 1.4;
}
.pl-short .post-content{
  margin: 15px 15px 0;
  padding: 0 0 15px;
}
.post-meta {
/*  font-size: 12px; */
  clear: both;
  padding: 10px 15px 10px 30px;
  line-height: 30px;
}
.post-meta a.action{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:.2;
  color: #333;
  text-decoration: underline;
}
.post:hover .post-meta a.action{
  opacity: .8;
}
.post-meta:hover a.action{
  opacity:1 !important;
}

.post-meta li{
  float: left;
  display: inline;/* ie double margin hack */
  margin:0 15px 0 0;
}
.post-meta .right li{
  margin:0 0 0 15px;
}
.post-meta .votes.large{
  margin-top: 0!important;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.post-image{
  margin: 20px 0;
}
.post-image img{
  vertical-align: middle;
}

.post-atts{
  background-color: #f6f6f6;
  border-radius: 4px;
  color:#1d1d1d;
  font-size: 12px;
  padding: 20px;
  height: 1%;
}
.post-atts dd{
  line-height: 24px;
  padding-left: 23px;
}
.post-atts dd.image-att{
  background: url(../images/tmp/image-att.png) no-repeat 0 50%;
}
.post-atts dd.archive-att{
  background: url(../images/tmp/archive-att.png) no-repeat 0 50%;
}
.post-atts dd.sound-att{
  background: url(../images/tmp/sound-att.png) no-repeat 0 50%;
}
