.tl-wrap{
/*  margin: 0 0 10px; */
}
.tl-head{
  background: #12729f;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  border-radius:4px 4px 0 0;
  color:#fff;
  font-size:12px;
  font-weight:normal;
  text-align:left;
  padding:0 15px;
  position:relative;
  line-height:45px;
  height:45px;
  white-space: nowrap;
}
.tl-head a{
  color:#fff;
}
.tl-head .right{
  display: inline;
  margin-left: 20px;
}

.tl-table{
/*  background: #fbfbfb; */
/*  border-top: 2px solid #ccc; */
/*  border-bottom: 2px solid #aaa; */
  width: 100%;
}

.tl-row {
  border-top: 1px solid #f8f8f8;
}
.tl-row:first-child {
  border-top: 2px solid #ccc;
}
.tl-table td{
  padding: 10px 8px;
/*  vertical-align: middle; */
}
.tl-row:first-child td {
  padding-top: 20px;
}
.tl-icon-col{
/*  padding: 0!important;*/
  padding-left: 0 !important;
  padding-right: 0 !important;
/*  width: 42px;
  max-width: 42px;
  min-width: 42px;*/
  display: none;
}
.thread-icon{
  border-radius: 3px;
  height: 22px;
  width: 22px;
  margin: auto;
  text-align: center;
  line-height: 22px;
  overflow: hidden;
  color:#d4d4d4;
  font-size: 27px;
}

.tl-summary-col{
  width: 70%;
}
.tl-summary-col a{
  color: #333;
}
.tl-summary-col a:hover{
  color: #036;
}
td.tl-summary-col{
  padding-left: 0;
  padding-right: 0;
  
  padding-left: 15px;
}
.tl-tools-col{
  max-width: 60px;
  min-width: 60px;
  width: 60px;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
  vertical-align: middle;
}
.tl-total-col{
  font-size: 12px;
  min-width: 110px;
  white-space: nowrap;
  color: #666;
}
.tl-last-post-col{
  max-width: 150px;
  min-width: 150px;
  width: 150px;
}
.last-post-info{
  font-size: 13px;
}
.last-post-date{
  margin-bottom: 2px;
}
.last-post-author {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.last-post-author,
.last-post-author a{
  color: #333;
}
.last-post-author:after{
  background: linear-gradient(center left, rgba(251,251,251,0), #FBFBFB);
  background: -moz-linear-gradient(center left, rgba(251,251,251,0), #FBFBFB);
  background: -webkit-linear-gradient(top left,  rgba(251,251,251,0),#FBFBFB);
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 30px;
  right: 0;
  top:0;
}
._expanded .last-post-author:after{
  background: linear-gradient(center left, rgba(255,255,240,0), #FFFFF0);
  background: -moz-linear-gradient(center left, rgba(255,255,240,0), #FFFFF0);
  background: -webkit-linear-gradient(top left, rgba(255,255,240,0), #FFFFF0);
}
.tl-select-col{
  max-width: 1%;
  min-width: 1%;
  width: 1%;
  text-align: center;
  padding-left: 0!important;
  padding-right: 15px!important;
  margin-left: 0;
}

.tl-title{
  margin: 0 0 2px;
}
.tl-title h2{
  display: inline;
  font-size: 16px;
  font-weight: normal;
  font-family: sans-serif;
  margin-right: 10px;
  vertical-align: middle;
}
.tl-pagination,
.tl-pagination li{
  display: inline;
}
.tl-pagination a{
/*  border: 1px solid #d0d0d0; */
  border: 1px solid #E8E8E8; 
  border-radius: 3px;
  background: #f3f3f3;
  font-size: 9px;
  padding: 0px 5px;
  margin-right: 2px;
}
.tl-starter {
  color:#aaa;
  margin-left:5px;
  font-size:13px;
}
.tl-starter a{
  color:#aaa;
}
.tl-start-date{
  transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  color:#aaa;
  opacity: 0;
  margin-left: 5px;
  font-size: 11px;
}
.tl-row:hover .tl-start-date{
  opacity: 1;
}

.tl-preview-ctl{
  transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  background: #d6d6d6;
  border-radius: 14px;
  display: block;
  height: 24px;
  width: 24px;
  margin: auto;
  color:#6b6b6b;
  line-height: 24px;
  opacity: 0;
}
.tl-preview-ctl:hover{
  text-decoration: none;
}
.tl-preview-ctl:after{
  content: '▾';
}
.tl-row:hover .tl-preview-ctl {
  opacity: 1;
}
._expanded .tl-preview-ctl:after{
  content: '×';
}
._expanded .tl-preview-ctl{
  background: #6b6b6b;
  color:#fff;
  opacity: 1;
}
.tl-preview-row{
  display: none;
  padding: 9px!important;
}
._expanded.tl-row {
/*  background-color: #FFFFF0 */
}
.thread-posts{
  background: #fff;
  padding: 0 60px 20px;
  height: 1%;
}
.thread-post{
  overflow: hidden;
  zoom:1;
  margin-bottom: 17px;
}
.thread-post-thumb{
  float: left;
  display: inline;
  margin: 0 13px 0 0;
  width: 70px;
  border-radius: 4px;
}
.thread-post-content{
  font-size: 13px;
  overflow: hidden;
  zoom:1;
  line-height: 1.3;
}
.thread-post-content header{
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.thread-posts-actions a{
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
}
.thread-posts-actions .action-button{
  float: none;
  display: inline-block;
  *display:inline;zoom:1;
}

/*
 *
 * State marks
 *
 *   Table row is marked as "mark-*STATE*"
 *   Icon is defined with "mark-i-*STATE*"
 * 
 */
.tl-icon-col a {
  color:#fff;
  font-size:16px;
  padding: 0 10px;
}
.tl-icon-col a:before {
  content:'➟';
  content:'‣';
  content:'✳';
  content:'→';
  content:'✚';
  content:'❏';

}
.mark-unread .tl-title h2{
  font-weight: bold;
}
.mark-unread .tl-icon-col a {
/*  color: #c43c35;
  color: #800; */
}
/*
.mark-unread .tl-title h2 a:before{
  content:'☀ ';
}*/
.mark-unread .tl-title {
  margin-left: 15px;
}
.mark-unread .tl-starter {
  margin-left: 20px;
}
.mark-unread .status-mark {
  float:left;
  height: 18px;
  width: 7px;
  background: #c43c35;
}


.mark-i-closed {
  color: #888;
  color: #888;
  display: block;
  margin: 3px auto;
  height: 24px;
  line-height: 24px;
  width: 14px;
  font-size: 25px;
}
.mark-i-closed:after{
  content: '♯';
}
.mark-closed .tl-title a{
/*  color: #888; */
  opacity: .6;
}
.mark-i-moved {
  color: #888;
  display: block;
  margin: 3px auto;
  height: 14px;
  line-height: 18px;
  width: 23px;
  font-size: 25px;
}
.mark-i-moved:after{
  content: '↶';
}
.mark-moved .tl-title a{
  color: #888;
}
/* Mark, that user have posted in thread */
.mark-i-posted {
  float: right;
  height: 15px;
  margin-left: 10px;
  text-align: center;
  line-height: 15px;
  overflow: hidden;
  font-size: 20px;
  text-decoration: none !important;
  opacity: 0.5;
}
.mark-i-posted:after{
  content: '✓';
  /*content: '☀';*/
  color:#888;
}
.mark-i-attach {
  float: right;
  height: 16px;
  width: 16px;
  background: url(../images/tmp/paperclip.png) no-repeat 0 50%;
  margin-left: 10px;
/*  overflow: hidden; */
  text-decoration: none !important;
  opacity: 0.5;
}
/*
.mark-i-attach:after{
  content: '❐';
  color:#888;
}
*/
