
/*=========== Needs cleanup =======================*/
.frm-tbls-wrapper{
  margin:0 0 20 px;
}
.frm-tbl{
  display:table;
  width:100%;
}

.last-post-column{
  width:170px;
}
.frm-tbl .last-post-column{
  font-size:12px;
}
.last-post-date{
  color:#888;
  font-size: 11px;
  padding-left: 3px;
}
.last-post-author a{
  color:#373737;
}
.frm-tbl-section-head .frm-section-title{
  float:left;
  font-size:16px;
  font-weight:bold;
  width:729px;
}
.frm-tbl-row{
  display:table-row;
}
.frm-tbl-cell{
  display:table-cell;
  padding:15px;
  border-bottom:1px solid #b0b0b0;
  vertical-align:middle;
}
.frm-tbl-row:last-child .frm-tbl-cell{
  border:0;
}
.frm-tbl-row .frm-icon-cell{
  padding-left:0;
  padding-right:0;
  width:1%;
}
.frm-tbl-markread{
  border-top:1px solid #b0b0b0;
  text-align:center;
  padding:10px 0;
}
.frm-icon{
  background:#d2e4ee no-repeat 50% 50%;
  border-radius:4px;
  height:50px;
  width:50px;
}
.frm-tpc-icon{
  background-image:url(../images/frm-tpc-icon.png);
}
.frm-tpc-title{
  font-size:16px;
  font-weight:bold;
}
.frm-simple-list li{
  margin:0 0 2px; 
}
.fl-total {
  font-size: 12px;
  color: #444;
}

.frm-options li{
  display:inline;
}
.frm-options li{
  margin:0 10px 0 0;
}
.frm-options{
  margin:20px 0 0;
}
/*=======================================================*/

/*
 * Subforums @ forum index (use with .def-list)
 */
.fl-subforums {
  margin-left:17px;
}
.fl-subforums dt{
  margin-right:3px;
  margin-left:-15px;
}
.fl-subforums dd:after{
  margin-right:5px;
}
.fl-subforums {
  font-size: 12px;
}
.fl-subforums dd a{
  margin-right:2px;
  font-weight: bold;
}

/*
 * forum moderators @ forum index (use with .def-list)
 */
.fl-moderators dt{
  margin-right:3px;
  margin-left:5px;
}
.fl-moderators,
.fl-moderators a{
  color:#888;
  font-size: 12px;
}

/*
 * 
 * Categories wrappers & collapsers
 * 
 */ 
.fl-category{
  margin:0 0 5px;
}
.fl-cat-head{
  transition: opacity 1s ease;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;

  background: #025c7e;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  border-radius:4px;
  color:#fff;
  font-weight:normal;
  text-align:left;
  padding:15px;
  position:relative;
  line-height:21px;
  transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  opacity:1;
}
.collapsed .fl-cat-head:hover{
  opacity: 0.7;
}
.collapsed .fl-cat-head{
  opacity: 0.2;
}
.fl-cat-head .collapser{
  background: #298dc2;
  background: linear-gradient(#5bb6e7, #298dc2);
  background: -moz-linear-gradient(#5bb6e7,#298dc2);
  background: -webkit-linear-gradient(#5bb6e7,#298dc2);
  transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  display:block;
  overflow:hidden;
  height:20px;
  width:20px;
  line-height:21px;
  text-align:center;
  border-radius:4px;
  content:'';
  color:#fff;
  font-size:6px;
  opacity:0;
}
.fl-cat-title{
  font-size:16px;
  font-weight:bold;
}
.fl-cat-head .collapser{
  position:absolute;
  right:15px;
  top:15px;
}
.fl-cat-head:hover .collapser{
  opacity:1;
}
.fl-cat-head .collapser:hover{
  text-decoration:none;
}
.fl-cat-head .collapser:focus{
  outline: 0;
}
.fl-cat-head .collapser:before{
  content:'▼';
}
.collapsed > .fl-cat-head > .collapser{
  line-height:19px;
}
.collapsed > .fl-cat-head > .collapser:before{
  content:'▲';
}
.fl-cat-content{
  transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;*/
  overflow:hidden;
  opacity:1;
}
.collapsed .fl-cat-content{
  opacity:0;
}
