/* ---------------------
 * Posts list actions
 */
.pl-actions{
  font-size: 12px;
  float: right;
}
.pl-action{
  float:left;
  display: inline; /* ie double margin hack */
  margin-right: 7px;
}
.pl-action:last-child{
  margin-right: 0;
}

.pl-action-button,
.pl-popup-collapser{
  background: #0a6090;
  background: linear-gradient(#106fa5, #034e79);
  background: -moz-linear-gradient(#106fa5,#034e79);
  background: -webkit-linear-gradient(#106fa5,#034e79);
  border:0;
  font-size: 12px;
  font-weight: bold;
  color:#fff!important;
  padding:0 14px;
  float:left;
  border-radius:4px;
  cursor:pointer;
  line-height: 28px;
  height: 30px;
  overflow:hidden;
}
.pl-action-button:hover,
.pl-popup-collapser:hover{
  background: #0e699d;
  background: linear-gradient(#1381bf, #095d8d);
  background: -moz-linear-gradient(#1381bf,#095d8d);
  background: -webkit-linear-gradient(#1381bf,#095d8d);
  text-decoration:none;
}
.pl-action-button:focus,
.pl-popup-collapser:focus{
  box-shadow:0 0 1px #000 inset;
  outline:0;
}
.pl-action-button:active,
.pl-popup-collapser:active{
  background: #05527f;
  background: linear-gradient(#106fa5, #03456b);
  background: -moz-linear-gradient(#106fa5,#03456b);
  background: -webkit-linear-gradient(#106fa5,#03456b);
  box-shadow:0 0 3px #000 inset;
}
.pl-popup-collapser,
.menu-activated .pl-popup-collapser{
  background: #a76943;
  background: linear-gradient(#bca05e, #963c2c);
  background: -moz-linear-gradient(#bca05e,#963c2c);
  background: -webkit-linear-gradient(#bca05e,#963c2c);
  padding: 0 12px;
  box-shadow: none;
}
.pl-popup-collapser:hover{
  background: #b0824f;
  background: linear-gradient(#ccae66, #ae4633);
  background: -moz-linear-gradient(#ccae66,#ae4633);
  background: -webkit-linear-gradient(#ccae66,#ae4633);
}
.menu-activated .pl-popup-collapser:hover{
  background: #b0824f;
  background: linear-gradient(#ccae66, #963c2c);
  background: -moz-linear-gradient(#ccae66,#963c2c);
  background: -webkit-linear-gradient(#ccae66,#963c2c);
}
.pl-popup-collapser:active{
  background: #a1583a;
  background: linear-gradient(#ab9155, #8a3628);
  background: -moz-linear-gradient(#ab9155,#8a3628);
  background: -webkit-linear-gradient(#ab9155,#8a3628);
}
.pl-popup-collapser:before{
  font-size: 7px;
  content:'▼';
}
.pl-popup-wrap{
  position: relative;
  z-index: 1;
}
.menu-activated .pl-popup-collapser{
  border-radius: 4px 4px 0 0;
}
.below .menu-activated .pl-popup-collapser{
  border-radius: 0 0 4px 4px;
  background: linear-gradient(#963c2c, #bca05e);
  background: -moz-linear-gradient(#963c2c, #bca05e);
  background: -webkit-linear-gradient(#963c2c, #bca05e);
}
.menu-activated .pl-popup-collapser:after{
  background: #963c2c;
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 6px;
  left: 0;
  top:30px;
}
.below .pl-popup-collapser:after{
  top:-6px;
}
.pl-popup{
  background: #963c2c;
  border-radius: 4px 0 4px 4px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top:36px;
  display: none;
  /*opacity: 0;*/
  /*transition: opacity 1s ease;*/
  /*-moz-transition: opacity 1s ease;*/
  /*-webkit-transition: opacity 1s ease;*/
  width:138px;
}
.below .pl-popup{
  border-radius: 4px 4px 0 4px;
  top:auto;
  bottom:6px;
}
/*.collapsed .pl-popup{*/
  /*opacity: 1;*/
/*}*/
.pl-popup a{
  color:#ffffff;
}
.pl-popup dd{
  border-bottom: 1px solid #873121;
  box-shadow: 0 1px 0 #b17452;
  padding: 10px 15px;
}
.pl-popup dd:last-child{
  border: 0;
  box-shadow: none;
}
.pl-popup dt{
  background-color: #873121;
  color:#c7a372;
  padding: 5px 15px 6px;
  text-align: right;
}

.pl-head{
  margin: 0 0 20px;
}
.pl-head .page-title{
  margin: 0;
}
.pl-head .pl-entry{
  font-size: 12px;
  max-width: 600px;
}

.pl-controls,
.pl-wrap{
  margin: 0 0 20px;
}

.pl-title{
  background: #12729f;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  border-radius:4px 4px 0 0;
  color:#fff;
  font-size:16px;
  font-weight:normal;
  text-align:left;
  padding:0 15px;
  position:relative;
  line-height:45px;
  height:45px;
  white-space: nowrap;
}
.pl-title:hover a.pl-select-link{
  opacity: 1;
}
a.pl-select-link{
  color:#fff;
  opacity: 0.3;
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
a.pl-select-link:after{
  content: '▼';
  font-size: 7px;
  margin-left: 4px;
  position: relative;
  top:-1px;
}


.pl-select{
  font-size: 12px;
  float: right;
  position: relative;
}
.pl-select-menu{
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  display: none;
  right: 0px;
  z-index: 10000;
  padding: 5px 0;
  box-shadow: 1px 2px 5px #333;
  top:50%;
  margin-top: 10px;
}
.pl-select-menu li{
  padding: 3px 15px;
  line-height: 17px;
}
.pl-select-menu li a{
  color: #333;
}
.pl-select-menu li:hover{
  background: #106fa5;
}
.pl-select-menu li:hover a{
  color: #fff;
  text-decoration: none;
}

/* ----------------------------------
 * Post
 */
.post{
  background-color: #fbfbfb;
}
.post-head{
  background-color: #d2e4ee;
  padding: 11px 15px;
  line-height: 19px;
}
.post-head .left{
  float: left;
}
.post-author{
  font-size: 16px;
  font-weight: bold;
}
.post-head .right{
  float: right;
  font-size: 12px;
}
.post-timestamp{
  color:#8c8c8c;
  position: relative;
  top: 1px;
}
.post-marker{
  margin-left: 25px;
  vertical-align: middle;
}
.post-v{
  vertical-align: middle;
}
.post-aside{
  float: left;
  display: inline; /* ie double margin hack */
  margin: 30px 30px 0;
}
.post-author-pic img{
  border-radius: 4px;
  vertical-align: top;
}
.post-author-info{
  font-size: 12px;
  margin-top: 5px;
  line-height: 1.4;
  color: #AAA;
}
.post-content{
  overflow: hidden;
  zoom:1; /* ie hack */
  margin: 30px 15px 0 0;
  line-height: 1.4;
}
.post-meta {
  font-size: 12px;
  clear: both;
  padding: 15px 15px 15px 30px;
}
.post-meta a{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:.2;
}
/*.post-meta .votes-count{
  opacity: 1;
}*/
.post:hover .post-meta a{
  opacity: 1;
}
.post-meta .left{
  float: left;
}
.post-meta .right{
  float: right;
}
.post-meta li{
  float: left;
  display: inline;/* ie double margin hack */
  margin:0 15px 0 0;
}
.post-meta .right li{
  margin:0 0 0 15px;
}

/*
 *
 * Votes control
 *
 */
.votes{
  font-size: 14px;
  background-color: #EEE;
  padding:6px;
  position:relative;
  top:-7px;
  overflow:hidden; /* IE6 hack */
  border-radius: 4px;
}
.votes-count{
  vertical-align: middle;
}
a.vote-up,
a.vote-down{
  color: #777; 
  display: inline-block;
  *display: inline;zoom:1; /* ie6-7 inline-block hack */
  width: 12px;
  height: 12px;
  font-weight: bold;
  font-size:14px;
  line-height: 12px; 
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
a.vote-up:hover,
a.vote-down:hover{
  text-decoration: none;
  opacity: .8;
}
a.vote-up{
}
a.vote-up:after{
  content: '⇧';
}
a.vote-down{
}
a.vote-down:after{
  content: '⇩';
}

.pl-more-button{
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  
}
.pl-more-button:before{
  font-size: 14px;
  content: '↓';
  font-weight:normal;
}

.pl-fast-reply{
  margin-bottom: 20px;
}
.pl-fast-reply form{
  background-color: #d2e4ee;
  padding: 15px;
  height: 1%;
  margin-top: 1px;
}
.pl-fast-reply textarea{
  font-size: 12px;
  border-radius: 0;
  width: 100%;
  height: 155px;
  margin: 0 0 15px;
}

.pl-fast-reply .form-buttons input{
  font-size: 12px;
  font-weight: normal;
}

.post-image{
  margin: 20px 0;
}
.post-image img{
  vertical-align: middle;
}

.post-atts{
  background-color: #f6f6f6;
  border-radius: 4px;
  color:#1d1d1d;
  font-size: 12px;
  padding: 20px;
  height: 1%;
}
.post-atts dd{
  line-height: 24px;
  padding-left: 23px;
}
.post-atts dd.image-att{
  background: url(../images/tmp/image-att.png) no-repeat 0 50%;
}
.post-atts dd.archive-att{
  background: url(../images/tmp/archive-att.png) no-repeat 0 50%;
}
.post-atts dd.sound-att{
  background: url(../images/tmp/sound-att.png) no-repeat 0 50%;
}

.post-signature{
  font-size: 12px;
  color:#393b3b;
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #deebf2;
}
