.fl-content-wrap{
  margin:15px 0 20px;
}

/*
 * 
 * Forum list tables
 * 
 */
.fl-cat-table td{
  padding:15px;
  border-bottom:1px solid #b0b0b0;
  vertical-align:middle;
}
.fl-cat-table tr:last-child td{
  border:0;
}

/* first column + icon */
td.fl-icon-col{
  padding-left:0;
  padding-right:0;
  width:1%;
}
.fl-icon{
  border-radius:4px;
  height:50px;
  width:50px;
}
    /* icon-specific styles, modify on your needs */
.fl-icon-default{
  background:#d2e4ee url(../images/forum.png) no-repeat 50% 50%;
}
.fl-icon-new{
  background:#d2e4ee url(../images/forum-new.png) no-repeat 50% 50%;
}
.fl-icon-closed{
  background:#d2e4ee url(../images/forum-closed.png) no-repeat 50% 50%;
}
.fl-icon-link{
  background:#d2e4ee url(../images/forum-link.png) no-repeat 50% 50%;
}

/* forum title, moderators, description */
/*.fl-summary-col{
  width:67%;
}*/

.fl-title{
  font-size:16px;
  font-weight:bold;
}

/* counters */
.fl-total-col {
  font-size: 12px;
  color: #444;
  min-width:80px;
  width:12%;
}
.fl-total-col li{
  margin:0 0 2px;
  white-space:nowrap;
}

/* last column styles */
.fl-last-post-col{
  font-size:12px;
  max-width:190px;
  min-width:190px;
  width:190px;
}
.fl-last-post-col li{
  margin:0 0 2px; 
  white-space:nowrap;
}
.fl-last-post-date{
  color:#888;
  font-size: 11px;
  padding-left: 3px;
}
.fl-last-post-author a{
  color:#373737;
}
.fl-last-post-title{
  position:relative;
  overflow:hidden;
  white-space:nowrap;
}
.fl-last-post-title:after,
.fl-last-post-title:before{
  content:' ';
  display:block;
  position:absolute;
  top:0;
  right:-10px;
  height:30px;
  width:10px;
  box-shadow:-5px -5px 15px #fff;
}

/*
 * Subforums @ forums list (use with .def-list)
 */
.fl-subforums {
  margin-left:17px;
}
.fl-subforums dt{
  margin-right:3px;
  margin-left:-15px;
}
.fl-subforums dd:after{
  margin-right:5px;
}
.fl-subforums {
  font-size: 12px;
}
.fl-subforums dd a{
  margin-right:2px;
  font-weight: bold;
}

/*
 * forum moderators @ forums list (use with .def-list)
 */
.fl-moderators dt{
  margin-right:3px;
  margin-left:5px;
}
.fl-moderators,
.fl-moderators a{
  color:#888;
  font-size: 12px;
}

/*
 * 
 * Categories wrapperss & collapsers
 * 
 */ 
.fl-category{
  margin:0 0 5px;
}
.fl-cat-head{
  background: #12729f;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  border-radius:4px;
  color:#fff;
  font-size:16px;
  font-weight:normal;
  text-align:left;
  padding:15px;
  position:relative;
  line-height:21px;
  transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}
._collapsed .fl-cat-head:hover{
  opacity: 0.7;
}
._collapsed .fl-cat-head{
  opacity: 0.2;
}
.fl-cat-head ._collapser{
  background: #41a0d3;
  background: linear-gradient(#5bb6e7, #298dc2);
  background: -moz-linear-gradient(#5bb6e7,#298dc2);
  background: -webkit-linear-gradient(#5bb6e7,#298dc2);
  transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  display:block;
  position:absolute;
  right:13px;
  top:13px;
  height:24px;
  width:24px;
  line-height: 22px;
  text-align:center;
  border-radius:5px;
  box-shadow: 0 0 1px #888;
  content:'';
  color:#fff;
  font-size:10px;
  opacity:0;
}
.fl-cat-title{
  font-weight:bold;
  margin:0 25px 0 0;
}
.fl-cat-head:hover ._collapser{
  opacity:1;
}
.fl-cat-head ._collapser:hover{
  text-decoration:none;
}
.fl-cat-head ._collapser:focus{
  outline: 0;
}
.fl-cat-head ._collapser:before{
  content:'▲';
}
._collapsed > .fl-cat-head > ._collapser{
  line-height:24px;
}
._collapsed > .fl-cat-head > ._collapser:before{
  content:'▼';
}
.fl-cat-content{
  transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  overflow:hidden;
  opacity:1;
}
._collapsed .fl-cat-content{
  opacity:0;
}

/*
 * 
 * Other
 * 
*/
.fl-markread{
  border-top:1px solid #b0b0b0;
  text-align:center;
  padding:10px 0;
}
.fl-markread li{
  display: inline;
  margin: 0 10px;
}
