/*
 * 
 * Basic definitions
 * 
 */

html,body{height:100%;}
body { color:#373737; font:14px/1.231 sans-serif; }

ul,ol{margin:0;}
li{list-style:none;}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #015b7d;text-decoration:none; }
a:hover { color: #015b7d;text-decoration:underline; }
a *{cursor:pointer;}

.normal {font-weight: normal;}
.nodisplay {display:none;}
.more-icon:after{content:' ▾';}
.left { float: left;}
.right { float: right;}

/*
 * 
 * Buttons & form fieldset
 *
 */
.button{
  background: #f3f3f3;
  background: linear-gradient(#fff, #e7e7e7);
  background: -moz-linear-gradient(#fff,#e7e7e7);
  background: -webkit-linear-gradient(#fff,#e7e7e7);
  border:1px solid #CCC;
  font-weight:bold;
  color:#015b7d;
  text-shadow: 1px 1px 0 #FFFFFF;
  padding:6px 11px; 
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
}
.button:hover{
  background: #f9f9f9;
  background: linear-gradient(#fff, #ddd);
  background: -moz-linear-gradient(#fff,#ddd);
  background: -webkit-linear-gradient(#fff,#ddd);
  text-decoration:none;
}
.button:focus{
  border-color:#AAA;
  outline:0;
}
.button:active{
  background: #EEE;
  background: linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff,#eee);
  background: -webkit-linear-gradient(#fff,#eee);
  border-color:#CCC;
  box-shadow:0 0 3px #ccc inset;
}

.submit-button{
  background: #13719e;
  background: linear-gradient(#2489c1, #045d81);
  background: -moz-linear-gradient(#2489c1,#045d81);
  background: -webkit-linear-gradient(#2489c1,#045d81);
  border:1px solid #2a6982;
  font-weight:bold;
  color:#fff;
  padding:6px 11px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
}
.submit-button:hover{
  opacity: .8;
  text-decoration:none;
}
.submit-button:focus{
  border-color:#1f4c5e;
  outline:0;
  opacity: 1;
}
.submit-button:active{
  border-color:#1f4c5e;
  box-shadow:0 0 2px #000 inset;
  opacity: 1;
}

.form-buttons{
  text-align: center;
}
.form-buttons li{
  display: inline;
  margin: 0 2px;
}

input::-webkit-input-placeholder  {color:#999;font-style:italic;}
textarea::-webkit-input-placeholder  {color:#999;font-style:italic;}
input:-moz-placeholder  {color:#999;font-style:italic;}
textarea:-moz-placeholder {color:#999;font-style:italic;}

input[type="text"], input[type="password"], textarea, select {
  box-sizing:border-box;-moz-box-sizing:border-box;
  padding: 8px;
  border: 1px solid #AAA;
  border-radius:4px;
  box-shadow: 1px 1px 1px #EEE;
  background: linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background: -moz-linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background: -webkit-linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background-clip:border;-moz-background-clip:border;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border: 1px solid #C53;
  box-shadow: 1px 1px 1px #EEE, 0 0 2px #C53 inset;
}

/*
 * 
 * Lists helpers
 *
 */

/*  Definition list template. Looks like:
 *    Today Plans: Kill Bill, Play game, Save documents */
.def-list dt,
.def-list dd {
  display:inline;
  white-space:nowrap;
}
.def-list dd:after{
  content:',';
}
.def-list dd:last-child:after{
  content:'';
}

/* Horisontal list, separated by ',' */
.hlist li {
  display: inline;
}
.hlist li:after{
  content:',';
  margin-right: 3px;
}
.hlist li:last-child:after{
  content:'';
}

/*
 * 
 * Page footer statictics.
 *
 */
.page-summary {
  background-color:#F7F7F7;
  border-radius: 4px;
  box-shadow: 0 0 2px #E0E0E0;
  padding:20px;
  height:1%; /* make hasLayout for ie */
}
.page-summary section {
  margin: 0 0 15px 10px;
}
.page-summary section:last-child {
  margin-bottom: 0;
}
.page-summary section h3 {
  margin: 0 0 8px -10px;
}
.page-summary section p{
  line-height:1.4em;
}
.page-summary-users{
  line-height:1.4em;
}
.page-summary-users a{
  color:#067ba1;
}
.global-stats li{
  display: inline;
  margin-right:10px;
}

/*
 *
 * General Styles
 *
 */
.page-title{
  font-size:24px;
  font-weight:normal;
  margin-bottom: 15px;
}

/* Helps to keep footer near window bottom */
.container{
  min-height:100%;
}
* html .container{
  height:100%;
}

/* Limits content width */
.trunk{
  margin-left:auto;
  margin-right:auto;
  min-width:760px;
  
  /* Change to switch page width             */
  /* by default - 960px, for 1024px screens  */
  width:960px;
  
  padding-left:15px;
  padding-right:15px;
}

/*
 *
 * Page header styles
 *
 */
.head{
  background: #116f9d;
  background: linear-gradient(#258ac4, #00597b);
  background: -moz-linear-gradient(#258ac4, #00597b);
  background: -webkit-linear-gradient(#258ac4, #00597b);
  box-shadow:0 0 30px #aaa;
  border-bottom:1px solid #fff;
  height:76px;
}
header .trunk{
  position:relative;
  height:100%;
  z-index:11;
}
.logo{
  line-height:1;
}
.logo a{
  color:#fff;
  font-size:28px;
  font-weight:normal;
}
.logo a:hover{
  text-decoration:none;
}
.logo .logo-txt,
.logo .logo-txt-shadow{
  position:absolute;
  left:15px;
  top:32px;
}
.logo .logo-txt-shadow{
  color:#00374c;
  top:31px;
}

/*
 * 
 * Global navigation (heading tabs)
 * 
 */
.global-nav{
  position:absolute;
  left:175px;
  top:38px;
}
.gn-tab{
  float:left;
  display:inline; /* double margin hack for ie */
  margin:0 1px 0 0;
}
a.gn-link{
  background: #54b0e1;
  background: linear-gradient(#5bb6e7, #268bc0);
  background: -moz-linear-gradient(#5bb6e7,#5bb6e7, #268bc0);
  background: -webkit-linear-gradient(#5bb6e7,#5bb6e7, #268bc0);
  border-radius:4px 4px 0 0;
  color:#fff;
  float:left;
  padding:0 8px;
  height:38px;
  line-height:38px;
}
.active a.gn-link,
.active a.gn-link:hover {
  background: #fff;
  background: linear-gradient(#fff, #f2f2f2, #d6d6d6);
  background: -moz-linear-gradient(#fff,#d6d6d6);
  background: -webkit-linear-gradient(#fff,#d6d6d6);
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  color:#2a2a2a;
  padding:0 7px;
  height:39px;
  text-decoration:none;
  cursor:default;
}

/*
 *
 *  Notifications picker & popup
 *
 */
.notify{
  position:absolute;
  top:0;
  left:60%;
  z-index:1;
  height:34px;
}
.notify-picker{
  background: #f6f2a8 url(../images/notify-picker.png) no-repeat 6px 4px;
  background: url(../images/notify-picker.png) no-repeat 6px 4px, linear-gradient(#fffeee, #f4ef97);
  background: url(../images/notify-picker.png) no-repeat 6px 4px, -moz-linear-gradient(#fffeee,  #f4ef97 70%, #f4ef97);
  background: url(../images/notify-picker.png) no-repeat 6px 4px, -webkit-linear-gradient(#fffeee,#f4ef97);

  border:1px solid #124d6d;
  border-top:0;
  float:left;
  color:#c6b932;
  font-size:14px;
  font-weight:bold;
  line-height:26px;
  padding:0 7px 0 26px;
  border-radius:0 0 4px 4px;
  box-shadow: 0 0 20px #333
}
.notify-picker:hover{
  color:#c6b932;
  text-decoration:none;
}
.notify-picker:focus{
  outline: 0;
}
.notify-popup{
  position:absolute;
  left:0;
  top:-1000px;
  width:339px;
  opacity:0;
  transition: opacity 1s ease, top 1.5s ease;
  -webkit-transition: opacity 1s ease, top 1.5s ease;
  -moz-transition: opacity 1s ease, top 1.5s ease;
  box-shadow: 0 0 20px #333
}
.notify-popup:before{
  content:'';
  border-color: transparent transparent #0a425c;
  border-style: solid;
  border-width: 0 7px 7px;
  height:0;
  width:0;
  position:absolute;
  top:-7px;
  left:10px;
  display:block;
}
.notify-popup:after{
  content:'';
  border-color: transparent transparent #f4ee95;
  border-style: solid;
  border-width: 0 7px 7px;
  height:0;
  width:0;
  position:absolute;
  top:-6px;
  left:10px;
  display:block;
}
.notify:hover .notify-popup{
  opacity:1;
  top:34px;
  transition: opacity 0.3s ease, top 1s ease;
  -webkit-transition: opacity 0.3s ease, top 1s ease;
  -moz-transition: opacity 0.3s ease, top 1s ease;
}
.notify-msg{
  border-left:1px solid #0a425c;
  border-right:1px solid #0a425c;
  background-color:#f4ee95;
  border-top:1px solid #fffccc;
  border-bottom:1px solid #d6ca5f;
  float:left;
  width:321px;
  padding:11px 9px;
}
.notify-msg:first-child{
  border-radius:4px 4px 0 0;
  border-top:1px solid #0a425c;
}
.notify-msg:last-child{
  border-radius:0 0 4px 4px;
  border-bottom:1px solid #0a425c;
}
.notify-msg:nth-child(2n){
  background-color:#fffccc;
}
.notify-msg-link{
  float:left;
  width:321px;
  height:1%; /* make hasLayout for ie */
}
.notify-userpic{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:0 10px 0 0;
  vertical-align:top;
}
.notify-msg-content{
  overflow:hidden;
  display:block;
  zoom:1;
  font-size:13px;
  height:50px;
}
/* --------------------------------------
 * user navigation
 */
.user-bar{
  position:absolute;
  top:10px;
  right:15px;
  z-index:1;
}
.ub-item,
.ub-item-dimmed
{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:0 0 0 16px;
  color:#fff;
}
a.ub-link {
  color:#fff;
}
.ub-item-dimmed,
a.ub-link-dimmed{
  color:#77c8f3;
}

/*
 *
 * Sidebar
 *
 */
.page-aside-menu{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:38px 0 0;
  width:150px;
  position:relative;
}
.am-item{
  line-height:24px;
}
.active .am-link{
  font-weight:bold;
}

/* --------------------------------------
 * content
 */
.main-wrap{padding-bottom:120px;}
.content-wrap{
  float:left;
  width:100%;
  margin-left:-150px;
}
.content{
  border-bottom:1px solid #b0b0b0;
  border-left:1px solid #b0b0b0;
  margin:17px 0 0 179px;
}
.content-wide{
  border-bottom:1px solid #b0b0b0;
  border-left:1px solid #b0b0b0;
  margin:17px 0 0;
}
.content .frame-line,
.content-wide .frame-line{
  border-top:1px solid #b0b0b0;
  width:16px;
  position:relative;
}
.breadcrumbs{
  position:absolute;
  left:30px;
  top:-7px;
  line-height:1;
  font-size:13px;
  color:#898989;
  white-space:nowrap;
}
.breadcrumbs a{
  color:#898989;
}
.breadcrumbs li{
  display:inline;
  margin:0 4px 0 0;
}
.breadcrumbs li:after{
  content:'»';
  margin:0 0 0 6px;
  font-size:14px;
}
.breadcrumbs li:last-child:after{
  content:'';
  margin:0;
}
.content .holder,
.content-wide .holder{
  padding:20px 0 30px 30px;
}

/*
 *
 * Page footer styles
 *
 */
.page-footer{
  position:relative;
  margin-top:-100px;
}
.footer-nav{
  margin:0 0 5px;
}
.footer-nav li{
  display:inline;
  margin-right:7px;
}
.copyrights{
  font-size:13px;
}
.with-aside-menu-col .footer-nav,
.with-aside-menu-col .copyrights{
  padding-left:180px;
}
.site-options{
  position:absolute;
  right:15px;
  top:0;
}
.site-options li{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:0 0 0 10px;
}
.site-theme,
.site-lang{
  border-radius:2px;
  font-size:10px;
  padding:0;
  width:100px;
  margin:0 0 5px;
  display:block;
}

/*
 *
 * Mini profile popup (shown on member name hover)
 *
 */
.prf-mini{
  display: none;
  background-color: #12729f;
  border-radius:4px;
  color:#1d1d1d;
  position: absolute;
  left:0;
  top:0;
  z-index: 999;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 502px;
  padding: 5px;
  box-shadow: 0 0 20px #333;
}
.prf-mini:before,
.prf-mini:after{
  content: '';
  display: block;
  position: absolute;
  left:20px;
  border: 15px solid transparent;
  border-top-color: #015b7d;
  bottom: -30px;
  width:0;
  height: 0;
  overflow: hidden;
}
.prf-mini:after{
  border-top-color: #fbfbfb;
  bottom: -25px;
}
.prf-mini-head{
  color:#fff;
  font-size: 16px;
  padding-left: 172px;
  line-height: 44px;
}
.prf-mini-wrap{
  background-color: #fbfbfb;
  padding: 7px;
  height: 1%;
}
.prf-mini-author img{
  border-radius: 4px;
  margin-bottom: 10px;
  vertical-align: top;
}
.prf-mini-sidebar{
  float: left;
  display: inline;
  margin: -40px 14px 0 0;
  width: 150px;
  position: relative;
}
.prf-mini-sidebar .button{
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  padding: 4px;
}
.prf-mini-actions li{
  margin-top: 2px;
}
.prf-mini-content{
  overflow: hidden;
  zoom:1;
  font-size: 12px;
}
.prf-mini-info li{
  margin-bottom: 10px;
  overflow: hidden;
  zoom:1;
}
.prf-mini-info .label{
  float: left;
  width:125px;
}
.prf-mini-info .nofloat{
  float: left;
  width:180px;
}

/* ----------------------------------
 * Post Code block
 */
.code{
  background-color: #f6f6f6;
  color:#1d1d1d;
  font: 12px/2 'Bitstream Vera Sans Mono','Courier New',monospace;
  padding: 10px 20px 10px 30px;
  margin: 20px 10px 20px 0;
  overflow: auto;
  max-height: 400px;
  line-height:1.1em;
}

/*
 *
 * Markup styles
 *
 */
.quick-select{
  position: fixed;
  left:50%;
  top:-12px;
  background-color: #fff;
  color:#1d1d1d;
  display: none;
  z-index: 9999;
  padding: 7px 10px;
  box-shadow: 0 2px 5px #666;
  font-size: 12px;
  margin-top: -12px;
  _position: absolute; /* ie6 position fixed hack */
  _top: expression(document.getElementsByTagName("body")[-12].scrollTop + "px"); /* ie6 position fixed hack */
}
.quick-select dt,
.quick-select dd{
  line-height: 24px;
}
.quick-select dd{
  display: none;
}

.quote{
  background-color: #f6f6f6;
  border: 1px solid #aac3d1;
  border-radius: 4px;
  color:#424242;
  font-size: 13px;
  margin: 10px 10px 10px 30px;
  position: relative;
  padding:15px;
  height: 1%;
}
.quote:before,
.quote:after{
  top:14px;
  left: -17px;
  content: '';
  position: absolute;
  display: block;
  border: 8px solid transparent;
  border-right-color: #aac3d1;
  width: 0;
  height: 0;
  overflow: hidden;
}
.quote:after{
  border-right-color: #f6f6f6;
  left: -16px;
}
.quote-head{
  margin: 0 0 5px;
}
a.quote-author{
  font-size: 12px;
  color:#888;
  float: left;
  min-height: 15px;
}
a.quote-author:before{
  content: '↰';
  padding-right: 10px;
  text-decoration: none !important;
}
.quote-date{
  color:#adadad;
  font-size: 11px;
  float: right;
}

._scroll-top{
  background: #ececec;
  position: fixed;
  right: 0;
  top:50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-top: -25px;
  z-index: 999;
  text-align: center;
  font-size: 24px;
  display: none;
}
._scroll-top:after{
  content: '⇪';
}
._scroll-top:hover{
  background: #efefef;
  text-decoration: none;
}
._scroll-top:focus{
  outline: 0;
}
