/*
 * 
 * Basic definitions
 * 
 */

html,body{height:100%;}
body { color:#373737; font:14px/1.231 sans-serif; }

ul,ol{margin:0;}
li{list-style:none;}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #015b7d;text-decoration:none; }
a:hover { color: #015b7d;text-decoration:underline; }
a *{cursor:pointer;}

.normal {font-weight: normal;}
.nodisplay {display:none;}
.more-icon:after{content:' ▾';}
.left { float: left;}
.right { float: right;}

/*
 * 
 * Buttons & form fieldset
 *
 */
.button{
  background: #f3f3f3;
  background: linear-gradient(#fff, #e7e7e7);
  background: -moz-linear-gradient(#fff,#e7e7e7);
  background: -webkit-linear-gradient(#fff,#e7e7e7);
  border:1px solid #CCC;
  font-weight:bold;
  color:#015b7d;
  padding:0 14px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
  line-height: 32px;
  height: 34px;
}
input.button,
input.submit-button{
  padding-top: 1px;
}
a.submit-button{
  color:#fff;
}
.button:hover{
  background: #f9f9f9;
  background: linear-gradient(#fff, #ddd);
  background: -moz-linear-gradient(#fff,#ddd);
  background: -webkit-linear-gradient(#fff,#ddd);
  text-decoration:none;
}
.button:focus{
  border-color:#AAA;
  outline:0;
}
.button:active{
  background: #EEE;
  background: linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff,#eee);
  background: -webkit-linear-gradient(#fff,#eee);
  border-color:#CCC;
  box-shadow:0 0 3px #ccc inset;
}

.submit-button{
  background: #0a6090;
  background: linear-gradient(#1f83b8, #0c6598);
  background: -moz-linear-gradient(#1f83b8,#0c6598);
  background: -webkit-linear-gradient(#1f83b8,#0c6598);
  border:0;
  font-weight:bold;
  color:#fff;
  padding:0 14px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
  line-height: 32px;
  height: 34px;
}
.submit-button:hover{
  background: #0e699d;
  background: linear-gradient(#1381bf, #095d8d);
  background: -moz-linear-gradient(#1381bf,#095d8d);
  background: -webkit-linear-gradient(#1381bf,#095d8d);
  text-decoration:none;
}
.submit-button:focus{
  box-shadow:0 0 1px #000 inset;
  outline:0;
}
.submit-button:active{
  background: #05527f;
  background: linear-gradient(#1f83b8, #0c6598);
  background: -moz-linear-gradient(#1f83b8,#0c6598);
  background: -webkit-linear-gradient(#1f83b8,#0c6598);
  box-shadow:0 0 3px #000 inset;
}

.form-buttons{
  text-align: center;
}
.form-buttons li{
  display: inline;
  margin: 0 2px;
}

input::-webkit-input-placeholder  {color:#999;font-style:italic;}
textarea::-webkit-input-placeholder  {color:#999;font-style:italic;}
input:-moz-placeholder  {color:#999;font-style:italic;}
textarea:-moz-placeholder {color:#999;font-style:italic;}

input[type="text"], input[type="password"], textarea, select {
  box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
  padding: 8px;
  border: 1px solid #AAA;
  border-radius:4px;
  box-shadow: 1px 1px 1px #EEE;
  background: linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background: -moz-linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background: -webkit-linear-gradient(#F8F8F8 0, #FFFFFF 20px);
  background-clip:border;-moz-background-clip:border;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border: 1px solid #C53;
  box-shadow: 1px 1px 1px #EEE, 0 0 2px #C53 inset;
}

.more-button{
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  margin-top: 10px;
  background-color: #f3f3f3;
  padding:9px 11px;
  text-align:center;
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  border-radius:4px;
  cursor:pointer;
  box-sizing:border-box;-moz-box-sizing:border-box;
}
.more-button:before{
  font-size: 14px;
  content: '↓';
  font-weight:normal;
}
.more-button:hover{
  background: #f0f0f0;
  text-decoration:none;
}
.more-button:focus{
  outline:0;
}

/*
 * 
 * Lists helpers
 *
 */

/*  Definition list template. Looks like:
 *    Today Plans: Kill Bill, Play game, Save documents */
.def-list dt,
.def-list dd {
  display:inline;
  white-space:nowrap;
}
.def-list dd:after{
  content:',';
}
.def-list dd:last-child:after{
  content:'';
}

/* Horisontal list, separated by ',' */
.hlist li {
  display: inline;
}
.hlist li:after{
  content:',';
  margin-right: 3px;
}
.hlist li:last-child:after{
  content:'';
}

/*
 * 
 * Page footer statictics.
 *
 */
.page-summary {
  background-color:#F7F7F7;
  border-radius: 4px;
  box-shadow: 0 0 2px #E0E0E0;
  padding:20px;
  height:1%; /* make hasLayout for ie */
}
.page-summary section {
  margin: 0 0 15px 10px;
}
.page-summary section:last-child {
  margin-bottom: 0;
}
.page-summary section h5 {
  margin: 0 0 8px -10px;
  font-family: sans-serif;
}
.page-summary section p{
  line-height:1.4em;
}
.page-summary-users{
  line-height:1.4em;
}
.page-summary-users a{
  color:#067ba1;
}
.global-stats li{
  display: inline;
  margin-right:10px;
}

/*
 *
 * General Styles
 *
 */
.title{
  margin-bottom: 15px;
}
.title h1{
  margin: 0;
}
.title .subtitle{
  font-size:12px;
  color: #888;
  max-width: 60%;
}

/* Helps to keep footer near window bottom */
.global-wrap{
  min-height:100%;
}
* html .global-wrap{
  height:100%;
}

/* Limits content width */
.trunk{
  margin-left:auto;
  margin-right:auto;
  min-width:760px;
  
  /* Change to switch page width             */
  /* by default - 960px, for 1024px screens  */
  width:960px;
  
  padding-left:15px;
  padding-right:15px;
}

/*
 *
 * Page header styles
 *
 */
.header{
  background: #116f9d;
  background: linear-gradient(#258ac4, #00597b);
  background: -moz-linear-gradient(#258ac4, #00597b);
  background: -webkit-linear-gradient(#258ac4, #00597b);
  box-shadow:0 0 30px #aaa;
  border-bottom:1px solid #fff;
  height:76px;
}
header .trunk{
  position:relative;
  height:100%;
  z-index:11;
}
.logo{
  line-height:1;
}
.logo a{
  color:#fff;
  font-size:28px;
  font-weight:normal;
}
.logo a:hover{
  text-decoration:none;
}
.logo .logo-txt,
.logo .logo-txt-shadow{
  position:absolute;
  left:15px;
  top:32px;
}
.logo .logo-txt-shadow{
  color:#00374c;
  top:31px;
}

/*
 * 
 * Global navigation (heading tabs)
 * 
 */
.global-nav{
  position:absolute;
  left:175px;
  top:38px;
}
.gn-tab{
  float:left;
  display:inline; /* double margin hack for ie */
  margin:0 1px 0 0;
}
a.gn-link{
  background: #54b0e1;
  background: linear-gradient(#5bb6e7, #268bc0);
  background: -moz-linear-gradient(#5bb6e7,#5bb6e7, #268bc0);
  background: -webkit-linear-gradient(#5bb6e7,#5bb6e7, #268bc0);
  border-radius:4px 4px 0 0;
  color:#fff;
  float:left;
  padding:0 8px;
  height:38px;
  line-height:38px;
}
.active a.gn-link,
.active a.gn-link:hover {
  background: #fff;
  background: linear-gradient(#fff, #f2f2f2, #d6d6d6);
  background: -moz-linear-gradient(#fff,#d6d6d6);
  background: -webkit-linear-gradient(#fff,#d6d6d6);
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  color:#2a2a2a;
  padding:0 7px;
  height:39px;
  text-decoration:none;
  cursor:default;
}

/* --------------------------------------
 * user navigation
 */
.user-bar{
  position:absolute;
  top:10px;
  right:15px;
  z-index:1;
}
.ub-item,
.ub-item-dimmed
{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:0 0 0 16px;
  color:#fff;
}
a.ub-link {
  color:#fff;
}
.ub-item-dimmed,
a.ub-link-dimmed{
  color:#77c8f3;
}

/*
 *
 * Sidebar
 *
 */
.sidebar{
  float:left;
  display:inline;/* double margin hack for ie */
}

/* --------------------------------------
 * content
 */
.container{
  padding-bottom:140px;/* indent for footer */
}
.content-wrap{
  float:left;
  width:100%;
  margin-left:-100px;
}
.content{
  border-bottom:1px solid #b0b0b0;
  border-left:1px solid #b0b0b0;
  margin:17px 0 0;
  padding: 30px 0 30px 30px;
  height: 1%;/* ie padding hack */
}
.styled{
  position: relative;
}
.styled:before{
  position: absolute;
  content: '';
  display: block;
  width: 14px;
  border-top:1px solid #b0b0b0;
  left: 0;
  top: 0;
}
.content-wide{
  border-bottom:1px solid #b0b0b0;
  border-left:1px solid #b0b0b0;
  margin:17px 0 0;
}
.content .frame-line,
.content-wide .frame-line{
  border-top:1px solid #b0b0b0;
  width:14px;
  position:relative;
}
.breadcrumbs{
  position:absolute;
  left:30px;
  top:-7px;
  line-height:1;
  font-size:14px;
  color:#898989;
  white-space:nowrap;
}
.breadcrumbs a{
  color:#898989;
}
.breadcrumbs li{
  display:inline;
  margin:0 4px 0 0;
}
.breadcrumbs li:after{
  content:'»';
  margin:0 0 0 6px;
  font-size:14px;
}
.breadcrumbs li:last-child:after{
  content:'';
  margin:0;
}

.page-controls.above {
  margin:0 5px 10px;
}
.page-controls.below {
  margin:10px 5px 20px;
}
.page-controls .buttons li{
  float: left;
  display: inline; /* ie double margin hack */
  margin-left: 7px; 
}
.page-controls .buttons{
  float: right;
}
.page-controls .pagination{
  float: left;
  padding-top:5px;
}


.actions-global{
  font-size: 12px;
  position: absolute;
  right: 0;
  top:20px;
}
.actions-global li{
  float: left;
  display: inline; /* double margin hack for ie */
  margin-left: 15px;
}

.content .holder,
.content-wide .holder{
  padding:30px 0 30px 30px;
}
.gray-box{
  background-color: #F7F7F7;
  padding: 25px;
  height: 1%; /* ie padding hack */
}
.narrow-column{
  margin: auto;
  width:656px;
}

/*
 *
 * Page footer styles
 *
 */
.footer{
  position:relative;
  margin-top:-100px;
}
.footer-nav{
  margin:0 0 5px;
}
.footer-nav li{
  display:inline;
  margin-right:7px;
}
.copyrights{
  font-size:13px;
}
.with-aside-menu-col .footer-nav,
.with-aside-menu-col .copyrights{
  padding-left:180px;
}
.site-options{
  position:absolute;
  right:15px;
  top:0;
}
.site-options li{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:0 0 0 10px;
}
.site-theme,
.site-lang{
  border-radius:2px;
  font-size:10px;
  padding:0;
  width:100px;
  margin:0 0 5px;
  display:block;
}

/*
 *
 * Mini profile popup (shown on member name hover)
 *
 */
.prf-mini{
  display: none;
  background-color: #12729f;
  border-radius:4px;
  color:#1d1d1d;
  position: absolute;
  left:0;
  top:0;
  z-index: 999;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 502px;
  padding: 5px;
  box-shadow: 0 0 20px #333;
}
.prf-mini:before,
.prf-mini:after{
  content: '';
  display: block;
  position: absolute;
  left:20px;
  border: 15px solid transparent;
  border-top-color: #015b7d;
  bottom: -30px;
  width:0;
  height: 0;
  overflow: hidden;
}
.prf-mini:after{
  border-top-color: #fbfbfb;
  bottom: -25px;
}
.prf-mini-head{
  color:#fff;
  font-size: 16px;
  padding-left: 172px;
  line-height: 44px;
}
.prf-mini-wrap{
  background-color: #fbfbfb;
  padding: 7px;
  height: 1%;
}
.prf-mini-author img{
  border-radius: 4px;
  margin-bottom: 10px;
  vertical-align: top;
}
.prf-mini-sidebar{
  float: left;
  display: inline;
  margin: -40px 14px 0 0;
  width: 150px;
  position: relative;
}
.prf-mini-sidebar .btn{
  width: 100%;
  padding: 4px;
  box-sizing:border-box;-moz-box-sizing:border-box;
  text-align: center;
}
.prf-mini-actions li{
  margin-top: 2px;
}
.prf-mini-content{
  overflow: hidden;
  zoom:1;
  font-size: 12px;
}
.prf-mini-info li{
  margin-bottom: 10px;
  overflow: hidden;
  zoom:1;
}
.prf-mini-info .label{
  float: left;
  width:125px;
}
.prf-mini-info .nofloat{
  float: left;
  width:180px;
}

/* ----------------------------------
 * Tabs
 */
.tabs-content{
  display: none;
}
.tabs-content-visible{
  display: block;
}

/* ----------------------------------
 * Post Code block
 */
.code{
  background-color: #f6f6f6;
  color:#1d1d1d;
  font: 12px/2 'Bitstream Vera Sans Mono','Courier New',monospace;
  padding: 10px 20px 10px 30px;
  margin: 20px 10px 20px 0;
  overflow: auto;
  max-height: 400px;
  line-height:1.1em;
}

/*
 *
 * Cutted text
 *
 */
.cutted-text{
  font-size: 12px;
  line-height: 1.4;
  text-align: right;
  margin: 0 0 30px;
}
.cutted-area{
  text-align: left;
  overflow: hidden;
  height: 100px;
  position: relative;
  margin: 0 0 10px;
}
._expanded .cutted-area{
  height: auto;
}
.cutted-area p{
  margin-bottom: 7px;
}
.cutted-area:after{
  background: linear-gradient(rgba(255,255,255,0), #fff);
  background: -moz-linear-gradient(rgba(255,255,255,0), #fff);
  background: -webkit-linear-gradient(rgba(255,255,255,0), #fff);
  content: '';
  display: block;
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height: 40px;
  overflow: hidden;
}
.gray-box .cutted-area:after{
  background: linear-gradient(rgba(255,255,255,0), #f7f7f7);
  background: -moz-linear-gradient(rgba(255,255,255,0), #f7f7f7);
  background: -webkit-linear-gradient(rgba(255,255,255,0), #f7f7f7);
}
._expanded .cutted-area:after{
  display: none;
}

/*
 *
 * Markup styles
 *
 */
.quick-select{
  position: fixed;
  left:50%;
  top:-12px;
  background-color: #fff;
  color:#1d1d1d;
  display: none;
  z-index: 9999;
  padding: 7px 10px;
  box-shadow: 0 2px 5px #666;
  font-size: 12px;
  margin-top: -12px;
  _position: absolute; /* ie6 position fixed hack */
  _top: expression(document.getElementsByTagName("body")[-12].scrollTop + "px"); /* ie6 position fixed hack */
}
.quick-select dt,
.quick-select dd{
  line-height: 24px;
}
.quick-select dd{
  display: none;
}

.quote{
  background-color: #f6f6f6;
  border: 1px solid #aac3d1;
  border-radius: 4px;
  color:#424242;
  font-size: 13px;
  margin: 10px 10px 10px 30px;
  position: relative;
  padding:15px;
  height: 1%;
}
.quote:before,
.quote:after{
  top:14px;
  left: -17px;
  content: '';
  position: absolute;
  display: block;
  border: 8px solid transparent;
  border-right-color: #aac3d1;
  width: 0;
  height: 0;
  overflow: hidden;
}
.quote:after{
  border-right-color: #f6f6f6;
  left: -16px;
}
.quote-head{
  margin: 0 0 5px;
}
a.quote-author{
  font-size: 12px;
  color:#888;
  float: left;
  min-height: 15px;
}
a.quote-author:before{
  content: '↰';
  padding-right: 10px;
  text-decoration: none !important;
}
.quote-date{
  color:#adadad;
  font-size: 11px;
  float: right;
}

._scroll-top{
  background: #ececec;
  position: fixed;
  right: 0;
  top:50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-top: -25px;
  z-index: 999;
  text-align: center;
  font-size: 24px;
  display: none;
}
._scroll-top:after{
  content: '⇪';
}
._scroll-top:hover{
  background: #efefef;
  text-decoration: none;
}
._scroll-top:focus{
  outline: 0;
}
.nofloat{
  overflow: hidden;
  zoom:1; /* ie hack */
}
