.profile-status{
  font-size:16px;
  margin:0 0 15px;
}
/* ---------------------------------------------
 * Profile columns
 */
.profile-left{
  float:left;
  width:240px;
}
.profile-right{
  float:right;
  width:480px;
}
/* ---------------------------------------------
 * Profile photo
 */
.profile-photo{
  margin:0 0 20px;
}
.profile-photo img{
  vertical-align:top;
}
.profile-photo .img{
  margin:0 0 10px;
}
/* ---------------------------------------------
 * module
 */
.prf-wgt{
  background-color:#f7f7f7;
  border-right:1px solid #cecece;
  border-bottom:1px solid #cecece;
  margin:0 0 20px;
  border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
  behavior: url(./css/PIE.htc);
}
.prf-wgt:last-child{
  margin:0;
}
.prf-wgt-head{
  background-color:#e9e9e9;
  padding:13px 15px 11px;
  border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;
  behavior: url(./css/PIE.htc);
}
.prf-wgt-head .left{
  float:left;
}
.prf-wgt-head .right{
  float:right;
}
.prf-wgt-content{
  padding:12px 15px 15px;
  height:1%;
}
/* ---------------------------------------------
 * Photo module
 */
.photo-module{
  margin:-15px 0 0;
}
.photo-module .item{
  float:left;
  width:100%;
  margin:15px 0 0;
}
.photo-module-thumb{
  float:left;
  display:inline;
  margin:0 13px 0 0;
}
.photo-module .timestamp{
  font-size:11px;
  display:block;
  margin:2px 0 0;
}
/* ---------------------------------------------
 * Friends module
 */
.friends-module{
  margin:-10px -29px 0 0;
}
.friends-module .item{
  float:left;
  width:50px;
  margin:10px 29px 0 0;
  display:inline;
  overflow:hidden;
  font-size:11px;
  text-align:center;
}
.friends-module .thumb{
  vertical-align:top;
}
.friends-module .name{
  display:block;
  margin:5px 0 0;
}
/* ---------------------------------------------
 * Groups module
 */
.groups-module li{
  display:inline;
}
/* ---------------------------------------------
 * Blogs module
 */
.blogs-module{
  margin:-10px 0 0;
}
.blogs-module .item{
  margin:10px 0 0;
}
.blogs-module .meta{
  font-size:11px;
  margin:3px 0 0;
}
.blogs-module .meta .left{
  float:left;
}
.blogs-module .meta .right{
  float:right;
}
/* ---------------------------------------------
 * Profile notepad
 */
.profile-notepad{
  margin:0 0 20px;
}
.profile-notepad .buttons{
  text-align:right;
}
.profile-notepad .row{
  margin:0 0 10px;
}
.notepad-text{
  height:60px;
}
.wall-text{
  height:17px;
}
/* ---------------------------------------------
 * Profile wall form
 */
.profile-wall-form{
  margin:0 0 15px;
}
*+html .profile-wall{
  margin:0 0 15px;
}
.wall-post{
  border-top:1px solid #b0b0b0;
  padding:15px 0;
  float:left;
  width:100%;
}
.wall-replies{
  margin:15px 0 0;
}
.wall-userpic{
  float:left;
  display:inline;
  margin:0 11px 0 0;
}
.wall-userpic img{
  width:50px;
  height:50px;
  vertical-align:top;
}
.wall-replies .wall-userpic img{
  width:30px;
  height:30px;
}
.wall-content{
  float:left;
  width:419px;
}
.wall-post .comment-post,
.wall-post .like-post{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:0;
}
.wall-post:hover .comment-post,
.wall-post:hover .like-post{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:1;
}
.wall-head{
  margin:0 0 4px;
}
.wall-replies .wall-post:last-child{
  padding-bottom:0;
}
.wall-replies .wall-head{
  margin:0 0 1px;
}
.wall-replies .wall-content{
  width:378px;
}
.wall-content .author{
  float:left;
}
.wall-content .timestamp{
  color:#959595;
  font-size:11px;
  float:right;
}
.wall-content .meta{
  font-size:12px;
  margin:1px 0 0;
}
.wall-content .meta .left{
  float:left;
}
.wall-content .meta .right{
  float:right;
}
.like-wrap{
  margin-left:3px;
}

.older-posts{
  width:456px;
}

.online-sticker{
  position:absolute;
  margin:-12px 0 0 4px;
  font-size:11px;
  border-radius:4px 4px 4px 0;
  -moz-border-radius:4px 4px 4px 0;
  -webkit-border-radius:4px 4px 4px 0;
  background: #b7db47;
  background: -o-linear-gradient(#9fc42d, #b7db47, #b7db47);
  background: -moz-linear-gradient(#9fc42d, #b7db47, #b7db47);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #9fc42d),color-stop(1, #b7db47),color-stop(1, #b7db47));
  background: linear-gradient(#9fc42d, #b7db47, #b7db47);
  -pie-background: linear-gradient(#9fc42d, #b7db47, #b7db47);
  color:#fff;
  padding:0 5px;
  line-height:15px;
  height:17px;
  behavior: url(./css/PIE.htc);
}
.online-sticker .bottom{
  background-color:#b7db47;
  position:absolute;
  left:0;
  top:17px;
  width:8px;
  height:4px;
  font-size:0;
  display:block;
}
.online-sticker .round{
  background-color:#fff;
  border-radius:4px 0 0 0;
  -moz-border-radius:4px 0 0 0;
  -webkit-border-radius:4px 0 0 0;
  display:block;
  width:100%;
  height:100%;
  behavior: url(./css/PIE.htc);
  position:absolute;
  left:0;
  top:0;
}

/* ------------------------------
 * Info box
 */
.info-box{
  margin:20px 0;
}
.info-box dd{
  clear:both;
  min-height:17px;
  _height:17px;
}
.info-box dt{
  color:#898989;
  font-weight:bold;
  margin:0 0 3px 10px;
}
.info-box label{
  float:left;
  width:120px;
}
.info-box .info{
  overflow:hidden;
  zoom:1;
}
.info-box .timestamp{
  font-size:11px;
}