/*
 *
 * user moderation quick links
 * 
 */
.user-mod-menu{
  position:absolute;
  top:85px;
  right:0;
  font-size:12px;
}
.user-mod-menuitem{
  float:left;
  display:inline;
  margin:0 0 0 16px;
}


.profile-status{
  font-size:12px;
  color: #888;
  margin:0 0 15px;
}
/* ---------------------------------------------
 * Profile columns
 */
.profile-left{
  float:left;
  width:240px;
}
.profile-right{
  float:right;
  width:480px;
}
/* ---------------------------------------------
 * Profile photo
 */
.profile-photo{
  margin:0 0 20px;
}
.profile-photo img{
  vertical-align:top;
  box-shadow: 0 0 2px #333
}
.profile-photo .img{
  margin:0 0 10px;
}
/* ---------------------------------------------
 * module
 */
.prf-wgt{
  background-color:#f7f7f7;
  border-right:1px solid #cecece;
  border-bottom:1px solid #cecece;
  margin:0 0 20px;
  border-radius:4px;
}
.prf-wgt:last-child{
  margin:0;
}
.prf-wgt-head{
  background-color:#e9e9e9;
  padding:13px 15px 11px;
  border-radius:4px 4px 0 0;
}
.prf-wgt-content{
  padding:12px 15px 15px;
  height:1%;
}
/* ---------------------------------------------
 * Photo module
 */
.photo-module{
  margin:-15px 0 0;
}
.photo-module .item{
  float:left;
  width:100%;
  margin:15px 0 0;
}
.photo-module-thumb{
  float:left;
  display:inline;
  margin:0 13px 0 0;
}
.photo-module-thumb img{
  border-radius:2px;
}
.photo-module .timestamp{
  font-size:11px;
  display:block;
  margin:2px 0 0;
}
/* ---------------------------------------------
 * Friends module
 */
.friends-module{
  margin:-10px -29px 0 0;
}
.friends-module .item{
  float:left;
  width:50px;
  margin:10px 29px 0 0;
  display:inline;
  overflow:hidden;
  font-size:11px;
  text-align:center;
}
.friends-module .thumb{
  vertical-align:top;
  border-radius:2px;
}
.friends-module .name{
  display:block;
  margin:5px 0 0;
}
/* ---------------------------------------------
 * Groups module
 */
.groups-module li{
  display:inline;
}
/* ---------------------------------------------
 * Blogs module
 */
.blogs-module{
  margin:-10px 0 0;
}
.blogs-module .item{
  margin:10px 0 0;
}
.blogs-module .meta{
  font-size:10px;
  color: #888;
  margin:3px 0 0;
}

/*
 * 
 * Profile info blocks (right column)
 * 
 */
.pblock{
  margin:0 0 20px;
}
.pblock-title{
  font-size: 16px;
  font-weight: bold;
}

/* Toggler for title */
.pblock-title  .collapser{
  background: #f3f3f3;
  background: linear-gradient(#fff, #e7e7e7);
  background: -moz-linear-gradient(#fff,#e7e7e7);
  background: -webkit-linear-gradient(#fff,#e7e7e7);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 3px #CCC;
  padding:0 5px 2px;
  vertical-align: top;
  display:inline-block;
  font-size: 13px;
}
.collapser:hover{
  text-decoration:none;
}
.collapser:focus{
  outline:0;
}
.pblock-title .collapser:before{
  content:'▴';
}
.collapsed .pblock-title .collapser:before{
  content:'▾';
}
.collapsed .pblock-title .collapser{
  padding:1px 5px 1px;
}

/* user statictics subblocks */
.pinfo-box{
  margin:20px 0;
}
.pinfo-box dd{
  clear:both;
  min-height:17px;
  _height:17px;
}
.pinfo-box dt{
  color:#898989;
  font-weight:bold;
  margin:0 0 3px 10px;
}
.pinfo-box label{
  float:left;
  width:120px;
}
.pinfo-box .info{
  overflow:hidden;
  zoom:1;
}
.pinfo-box .timestamp{
  font-size:11px;
}

/* Toggler in subblock */
.pinfo-collapser  .collapser{
  background: #f3f3f3;
  background: linear-gradient(#fff, #e7e7e7);
  background: -moz-linear-gradient(#fff,#e7e7e7);
  background: -webkit-linear-gradient(#fff,#e7e7e7);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 3px #CCC;
  padding:0 5px 2px;
  vertical-align: top;
  display:inline-block;
  font-size: 10px;
}
.collapser:hover{
  text-decoration:none;
}
.collapser:focus{
  outline:0;
}
.pinfo-collapser .collapser:before{
  content:'▴';
}
.collapsed .pinfo-collapser .collapser:before{
  content:'▾';
}
.collapsed .pinfo-collapser .collapser{
  padding:1px 5px 1px;
}

/*
 *
 * Profile notepad
 *
 */
.pnotepad-text{
  height:150px;
  width:100%;
  margin-top: 10px;
}
.pnotepad-controls{
  text-align:right;
  margin-top: 10px;
}

/* 
 * 
 * Wall styles
 * 
 */
.w-editor {
  margin:10px 0 15px;
}

*+html .w-content{
  margin:0 0 15px;
}
.wall-text{
  height:50px;
  width:100%;
}
.w-entry{
  border-top:1px solid #b0b0b0;
  padding:15px 0;
  float:left;
  width:100%;
}
.w-comments{
  margin:15px 0 0;
}
.w-userpic{
  float:left;
  display:inline;
  margin:0 11px 0 0;
}
.w-userpic img{
  width:50px;
  height:50px;
  vertical-align:top;
  border-radius:2px;
}
.w-comments .w-userpic img{
  width:30px;
  height:30px;
}
.w-entry-body{
  float:left;
  width:419px;
}
.w-new-comment,
.w-like-link,
.w-lk-none{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:0;
}
.w-lk-some{
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  opacity:0.4;
}
.w-entry:hover .w-new-comment,
.w-entry:hover .w-like-link{
  opacity:1;
}
.w-entry:hover .w-lk-none {
  opacity:0.4;
}
.w-lk-none:hover {
  opacity:1 !important;
}
.w-lk-none:hover,
.w-lk-some:hover,
.w-lk-my:hover,
.w-likes-stat:hover{
  text-decoration:none;
}

.wall-head{
  margin:0 0 4px;
}
.w-comments .w-entry:last-child{
  padding-bottom:0;
}
.w-comments .wall-head{
  margin:0 0 1px;
}
.w-comments .w-entry-body{
  width:378px;
}
.w-entry-body .author{
  float:left;
}
.w-entry-body .timestamp{
  color:#959595;
  font-size:11px;
  float:right;
}
.w-entry-body .meta{
  font-size:11px;
  margin:3px 0 0;
}
.w-more-buttonn{
  width:100%;
}



.online-sticker{
  position:absolute;
  margin:-12px 0 0 4px;
  font-size:11px;
  border-radius:4px 4px 4px 0;
  background: #b7db47;
  background: linear-gradient(#9fc42d, #b7db47, #b7db47);
  background: -moz-linear-gradient(#9fc42d, #b7db47, #b7db47);
  background: -webkit-linear-gradient(#9fc42d, #b7db47, #b7db47);
  color:#fff;
  padding:0 5px;
  line-height:15px;
  height:17px;
}
.online-sticker .bottom{
  background-color:#b7db47;
  position:absolute;
  left:0;
  top:17px;
  width:8px;
  height:4px;
  font-size:0;
  display:block;
}
.online-sticker .round{
  background-color:#fff;
  border-radius:4px 0 0 0;
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
}
