/*
 *
 *  Search
 *
 */
.s-form{
  margin: 0 150px 25px 0;
}
.s-query-wrap{
  float: left;
  width: 100%;
}
.s-query-indent{
  margin-right: 100px;
  overflow: hidden;
}
.s-query{
  width: 100%;
}
.s-title{
  font-size: 15px;
  font-family: sans-serif;
}
.s-info{
  padding: 7px 0 0 9px;
  height: 1%;
  clear: both;
}
.s-tip{
  float: left;
  color:#888;
  font-size: 11px;
}
.s-adv-pin{
  font-size: 11px;
  float: right;
}
.s-submit{
  float: left;
  display: inline; /* double margin hack for ie */
  margin-left: -83px;
  width: 83px;
  overflow: hidden;
}
.s-submit .btn{
  width: 100%;
}

.s-res-wrap{
  margin: 0 0 0 150px;
}
.search .sub-content{
  margin-right: 150px;
}
.search .sidebar{
  float: right;
  width: 120px;
}

.s-res-filter{
  font-size: 13px;
  border-left: 1px solid #aaa;
  line-height: 26px;
  padding: 15px 0 0;
  height: 1%;
  margin: 0 0 45px;
}
.s-res-filter li{
  padding: 0 0 0 23px;
  position: relative;
  left:-1px;
  color:#888;
}
.s-res-filter li.active{
  background: #fff;
  border-radius: 0 4px 4px 0;
  border: 1px solid #aaa;
  border-left: 0;
  box-shadow: 3px 1px 8px -5px #000;
  position: relative;
  line-height: 36px;
  margin: 3px 0;
  color: #000;
  height: 1%;
}
.s-res-filter li.active:before,
.s-res-filter li.active:after{
  content: '';
  display: block;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-radius: 0 0 0 4px;
  position: absolute;
  width: 8px;
  left: 0px;
  top:-5px;
  height: 4px;
  box-shadow: -4px 0px 0 #fff;
}
.s-res-filter li.active:after{
  border-bottom: 0;
  border-top: 1px solid #aaa;
  top:auto;
  bottom: -5px;
  border-radius: 4px 0 0 0;
}
.s-res-filter li.active a{
  color:#000;
}
.s-res-filter li.active a:hover{
  cursor: default;
  text-decoration: none;
}

.s-res-sorting{
  padding: 0 0 0 12px;
}
.s-res-sorting dt{
  font-weight: bold;
  font-size: 13px;
}
.s-res-sorting dd{
  font-size: 12px;
  margin: 13px 0 0 10px;
}
.s-res-sorting dd.active a{
  color:#555;
}

.s-list{
  background: #fbfbfb;
  border-top: 1px solid #e0e0e0;
  width: 100%;
}
.s-list-row td{
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 18px;
  vertical-align: middle;
}
td.s-summary-col{
  padding-left: 36px;
}
td.s-tools-col{
  padding: 15px 0;
}
td.s-total-col{
  color: #888888;
  font-size: 12px;
  white-space: nowrap;
}
.s-topic{
  color:#888;
  font-size: 12px;
  margin: 2px 0 0 8px;
}
.s-topic a{
  color:#555;
  font-size: 13px;
}
.s-preview-ctl{
  transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  background: #d6d6d6;
  border-radius: 14px;
  display: block;
  height: 24px;
  width: 24px;
  margin: auto;
  color:#6b6b6b;
  line-height: 24px;
  opacity: 0;
  text-align: center;
}
.s-preview-ctl:hover{
  text-decoration: none;
}
.s-preview-ctl:after{
  content: '▾';
}
.s-list-row:hover .s-preview-ctl {
  opacity: 1;
}
._expanded .s-preview-ctl:after{
  content: '×';
}
._expanded .s-preview-ctl{
  background: #6b6b6b;
  color:#fff;
  opacity: 1;
}

.s-last-post-col{
  max-width: 150px;
  min-width: 150px;
  width: 150px;
}
.last-post-info{
  font-size: 13px;
}
.last-post-date{
  margin-bottom: 2px;
}
.last-post-author {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.last-post-author,
.last-post-author a{
  color: #555;
}
.last-post-author:after{
  background: linear-gradient(center left, rgba(251,251,251,0), #FBFBFB);
  background: -moz-linear-gradient(center left, rgba(251,251,251,0), #FBFBFB);
  background: -webkit-linear-gradient(top left,  rgba(251,251,251,0),#FBFBFB);
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 30px;
  right: 0;
  top:0;
}
._expanded .last-post-author:after{
  background: linear-gradient(center left, rgba(255,255,240,0), #FFFFF0);
  background: -moz-linear-gradient(center left, rgba(255,255,240,0), #FFFFF0);
  background: -webkit-linear-gradient(top left, rgba(255,255,240,0), #FFFFF0);
}
