/*
 * 
 * Login menu styles
 * 
 */
.auth-wrap{
  position:relative;
}
.auth-toggle{
  outline: 0;
  position: relative;
}
._menu-activated .auth-toggle:after{
  position:absolute;
  content:'';
  width:8px;
  height:8px;
  right: -8px;
  bottom: 0;
  border-radius: 0 0 0 4px;
  box-shadow: -4px 4px 0 #fff;
}
._menu-activated .auth-toggle{
  background: #fff;
/*  background: linear-gradient(left, #eee, #fff 20px);
  background: -moz-linear-gradient(left, #eee, #fff 20px);
  background: -webkit-linear-gradient(left, #eee, #fff 20px);
*/
  display:inline-block;*display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  padding:0 15px;
  margin:-12px -11px 0 -11px;
  *margin:-12px -5px 0;/* ie6-7 hack */
  height:32px;
  line-height:34px;
  color:#444;
  position:relative;
  z-index:1;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
.auth-popup{
  display: none;
  background:#fff;
/*  background: linear-gradient(left, #eee, #fff 20px);
  background: -moz-linear-gradient(left, #eee, #fff 20px);
  background: -webkit-linear-gradient(left, #eee, #fff 20px);
*/
  color:#444;
  position:absolute;
  *top:26px;/* ie6-7 hack */
  top:24px;
  left:-11px;
  width:200px;
  overflow:hidden;
  padding:15px 10px 0;
  border: 1px solid #666;
  border-radius: 0 4px 4px 4px;
  box-shadow: 1px 2px 60px #666;
  font-size:14px;
}
.auth-popup li {
  margin:0 0 10px;
}
.auth-popup-input input {
  width:100%;
}
.auth-popup-submit {
  text-align: left;
}
a.forgot-pwd {
  font-size:12px;
  font-weight: normal !important;
  vertical-align: middle;
  margin:0 0 0 5px;
  color: #888;
}
