/*
 *
 *  Dialog
 *
 */
.dialog{
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  left:0;
  top:0;
  background: rgba(0,0,0, 0.5);
  _position: absolute; /* ie6 position fixed hack */
  _top: expression(document.getElementsByTagName("body")[0].scrollTop + "px"); /* ie6 position fixed hack */
  z-index: 9999;
}
.dialog-frame{
  box-shadow: 0 0 10px #333;
  border-radius: 4px;
  position: absolute;
  margin: 0 0 0 -222px;
  left:50%;
  top:100px;
  width: 444px;
}
.dialog-head{
  background: #11729f;
  background: linear-gradient(#258ac3, #025c7e);
  background: -moz-linear-gradient(#258ac3,#025c7e);
  background: -webkit-linear-gradient(#258ac3,#025c7e);
  padding: 10px 24px 0;
  height: 1%;
  border-radius: 4px 4px 0 0;
}
.dialog-title{
  color:#fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 10px;
}
.dialog-tabs li{
  float: left;
  display: inline;/* ie double margin hack */
  margin-right: 1px;
}
.dialog-tabs .tab{
  background: #5bb6e7;
  border-radius: 4px 4px 0 0;
  color:#fff;
  font-size: 13px;
  font-weight: bold;
  float: left;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
}
.dialog-tabs .active .tab{
  background: #fff;
  color:#000000;
}
.dialog-content{
  border-radius: 0 0 4px 4px;
  background: #fff;
  border: 3px solid #11729f;
  border-top: 0;
  padding: 15px 21px;
}
.dialog-content .form{
  margin: 15px 0 0;
}

.dialog .form-buttons-row,
.dialog .without-extra .form-buttons-row{
  margin-left: 0;
  text-align: right;
}