/*
 *
 *  Editor
 *
 */
.editor{
  margin: 0 0 30px;
}
.editor-frame{
  margin:auto;
  max-width: 1024px;
}
.editor-area{
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.editor-area .indent{
  margin-right: 165px;
}
input.editor-theme,
.editor-msg{
  display: block;
  width: 100%;
}
.editor-msg{
  margin-top: 12px;
  height: 205px;
}
.editor-sidebar{
  float: left;
  display: inline; /* ie double margin hack */
  margin: 0 0 0 -150px;
  width: 150px;
}
.editor-sidebar dt{
/*  font-weight: bold; */
  margin: 20px 0 10px;
}
.editor-sidebar dt:first-child{
  margin-top: 0;
}
.editor-sidebar dd{
  margin: 0 0 5px;
  font-size: 12px; 
}
.editor-sidebar dd:last-child{
  margin-bottom: 0;
}
.editor-sidebar input[type="checkbox"]{
  vertical-align: middle;
}
.editor-sidebar label{
  vertical-align: middle;
}
.editor-buttons{
  margin-top: 15px;
  text-align: right;
}
