/*.filter{
  font-size: 12px;
  display: inline;
  margin: 0 10px 0 0;
  float: left;
}
.filter:last-child{
  margin-right: 0;
}
a.filter-btn{
  display: inline-block;
  *display: inline; zoom: 1;
  line-height: 13px;
  color: #fff;
  padding: 4px 10px;
}
a.filter-btn:hover{
  background: #315977;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
  text-decoration: none;
}
a.filter-btn:focus{
  outline:0;
}
._filter-active .filter-btn{
  background: #244156;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
  font-weight: bold;
}
.global-select{
  vertical-align: middle;
}*/
.has-filters{
  position: relative;
  padding-right: 150px;
}
.has-filters .filters{
  position: absolute;
  right: 6px;
  bottom: 0;
}

.filter{
  font-size: 12px;
  text-align: right;
  margin: 5px 0 0;
}
.filter:last-child{
  margin-right: 0;
}
a.filter-btn {
  color: #555;
}
a.filter-btn:hover{
  text-decoration: none;
  color: #036;
}
a.filter-btn:after{
  background: #CCC;
  content: '';
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 3px;
}
._filter-active .filter-btn:after{
  background: #C43C35;
}
