.filter{
  font-size: 12px;
  display: inline;
  margin: 0 5px 0 0;
  float: left;
}
.filter:last-child{
  margin-right: 0;
}
a.filter-btn{
  display: inline-block;
  *display: inline; zoom: 1; /* ie6-7 display:inline-block hack */
  line-height: 13px;
  color: #fff;
  padding: 4px 10px;
}
a.filter-btn:hover{
  background: #315977;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
  text-decoration: none;
}
a.filter-btn:focus{
  outline:0;
}
._filter-active .filter-btn{
  background: #244156;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
  font-weight: bold;
}
