/*
 *
 *  Notifications picker & popup
 *
 */
.notify{
  position: relative;
  z-index: 1;
}
a.notify-picker{
/*  font-weight: bold; */
/*  line-height: 1;*/
  height: 20px;
  width:29px;
  display: block;
  background: url(../../images/mail-active.png);
}
.notify-picker[data-count]:after{
  background-color:#e10;
  color: #fff;
  content: attr(data-count);
  font-size: 10px;
  font-weight: bold;
  height:18px;
  line-height:18px;
  padding: 0 3px;
  min-width:12px;
  text-align: center;
  border-radius:9px;
  box-shadow: 0 0 7px #fff;
  position:absolute;
  right:-8px;
  bottom:-6px;
}

.notify-picker:focus{
  outline: 0;
}
.notify-popup{
  background-color: #F4EE95;
  position:absolute;
  display: none;
  right: 0;
  top: 25px;
  box-shadow: 0 0 20px #333;
  border:1px solid #0a425c;
  border-radius: 4px;
  
}
.notify-popup:before{
  content:'';
  border-color: transparent transparent #0a425c;
  border-style: solid;
  border-width: 0 7px 7px;
  height:0;
  width:0;
  position:absolute;
  top:-8px;
  right:10px;
  display:block;
}
.notify-popup:after{
  content:'';
  border-color: transparent transparent #f4ee95;
  border-style: solid;
  border-width: 0 7px 7px;
  height:0;
  width:0;
  position:absolute;
  top:-7px;
  right:10px;
  display:block;
}

.notify-msg{
  border-top:1px solid #fffccc;
  border-bottom:1px solid #d6ca5f;
  float:left;
  width:321px;
  padding:11px 9px;
}
.notify-msg:first-child{
  border-radius:4px 4px 0 0;
  border-top: 0;
}
.notify-msg:last-child{
  border-radius:0 0 4px 4px;
  border-bottom:0;
}
.notify-msg:nth-child(2n){
  background-color:#fffccc;
}
.notify-msg-link{
  float:left;
  width:321px;
  height:1%; /* make hasLayout for ie */
}
.notify-userpic{
  float:left;
  display:inline;/* double margin hack for ie */
  margin:0 10px 0 0;
  vertical-align:top;
}
.notify-msg-content{
  overflow:hidden;
  display:block;
  zoom:1;
  font-size:13px;
  height:50px;
}
