/*
 *
 *  typography
 *
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #bfbfbf;
}
h1 {
  margin-bottom: 10px;
  font-size: 30px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
}
h2 small {
  font-size: 14px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}


.signature{
  font-size: 12px;
  color:#666;
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #eee;
}

.quote{
  background-color: #f8f8f8;
  border-left: 3px solid #aaa;
  color:#444;
  font-size: 13px;
  margin: 10px 10px 10px 20px;
  padding:15px;
  height: 1%;
}
.quote-head{
  margin: 0 0 5px;
}
a.quote-author{
  font-size: 12px;
/*  color:#888; */
  float: left;
  min-height: 15px;
}
a.quote-author:before{
  content: '↰';
  padding-right: 10px;
  text-decoration: none !important;
}
.quote-date{
  color:#adadad;
  font-size: 11px;
  float: right;
}
