/*
 *
 *  Votes
 *
 */
.votes{
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.votes-count,
a.vote-up,
a.vote-down{
  vertical-align: middle;
}
a.vote-up,
a.vote-down{
  color:#8c8c8c;
  opacity: 0.2!important;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  text-decoration: none!important;
}
a.vote-up{
  padding-right: 3px;
}
a.vote-down{
  padding-left: 3px;
}
a.vote-up:after{
  content: '↑';
}
a.vote-down:after{
  content: '↓';
}
.votable:hover a.vote-up,
.votable:hover a.vote-down{
  opacity: 1!important;
}
.votable:hover a.vote-up:hover,
.votable:hover a.vote-down:hover{
  text-decoration: none;
}
.votes:hover a.vote-up{
  color:#62961d;
}
.votes:hover a.vote-down{
  color:#f00;
}


.votes.large{
  font-size: 14px;
  padding:6px;
  position:relative;
  top:-7px;
  overflow:hidden; /* IE6 hack */
  border-radius: 4px;
  margin-top:-12px!important;
  top: 6px;
}
.votable:hover .votes.large{
  background-color: #EEE;
}
.large a.vote-up,
.large a.vote-down{
  color: #777;
  display: inline-block;
  *display: inline;zoom:1; /* ie6-7 inline-block hack */
  width: 12px;
  height: 12px;
  font-weight: bold;
  font-size:14px;
  line-height: 12px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.large a.vote-up:after{
  content: '⇧';
}
.large a.vote-down:after{
  content: '⇩';
}