/*
 *
 *  Votes
 *
 */
.votes{
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.votes-count,
a.vote-up,
a.vote-down{
  vertical-align: middle;
}
a.vote-up,
a.vote-down{
  color:#666;
  opacity: 0.2!important;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  text-decoration: none!important;
}

a.vote-up{
  padding-right: 3px;
  padding-left: 6px;
}
a.vote-down{
  padding-left: 3px;
  padding-right: 6px;
}
a.vote-up:after{
  content: '↑';
}
a.vote-down:after{
  content: '↓';
}
.votes-count{
  font-size:12px;
}
.votable:hover a.vote-up,
.votable:hover a.vote-down{
  opacity: 1!important;
}
a.vote-up:hover,
a.vote-down:hover{
  text-decoration: none;
}
/*.votes:hover*/ a.vote-up{
  color:#080;
}
/*.votes:hover*/ a.vote-down{
  color:#c00;
}


.votes.large{
  font-size: 14px;
  position:relative;
  top:-7px;
  overflow:hidden; /* IE6 hack */
  border-radius: 4px;
  margin-top:-12px!important;
  top: 6px;
  line-height: 30px;
  height: 30px;
}
.votable:hover .votes.large{
  background-color: #EEE;
}
/*
.votes.large a.vote-up:after{
  content: '⇧';
}
.votes.large a.vote-down:after{
  content: '⇩';
}
.votes.large .votes-count{
  font-size:12px;
}
*/
