.loginza{
  text-align:center;
  margin:20px 0 10px !important;
}
.loginza-buttons{
  background: #fff;
  background-image: linear-gradient(#fff, #e7e7e7);
  background-image: -moz-linear-gradient(#fff, #e7e7e7);
  background-image: -webkit-linear-gradient(#fff, #e7e7e7);
  border-radius:4px;
  border:1px solid #CCC;
  display:inline-block;
  *display:inline;zoom:1; /* display:inline-block hack for ie6-7 */
  padding:8px 7px;
  line-height:1;
  margin:4px 0 0;
}
.loginza-buttons li{
  display:inline;
  vertical-align:middle;
}
.loginza-buttons a{
  vertical-align:top;
}
.loginza-buttons img{
  vertical-align:middle;
  padding: 0 3px;
}
